---
import Markdown from '../../components/Markdown.astro';
import DocsLayout from '../../layouts/DocsLayout.astro';
import { getCollection } from 'astro:content';
import Toc from '../../components/Toc';
import {
	getSideBarLinks,
	getNestedSideBarLinks,
	isNested,
	nextDoc,
	githubEditLink,
	cleanSideBarTitle,
} from '../../util/docsUtils';
import Footer from '../../components/docs/Footer.astro';
import NextButton from '../../components/NextButton.astro';

export async function getStaticPaths() {
	const docs = await getCollection('docs');

	return docs.map((doc) => {
		return {
			params: {
				slug: doc.slug,
			},
			props: {
				doc,
			},
		};
	});
}

const { doc } = Astro.props;
const { Content, headings } = await doc.render();
const slug = doc.slug;
const normalLinks = await getSideBarLinks();
const nestedLinks = await getNestedSideBarLinks(slug);
// If a document is nested, we need to check if it has more than one nested document
// Directories that have only one doc (e.g /docs/cloud/cloud.md) should not have a nested sidebar
const hasEnoughNestedDocs =
	nestedLinks.length > 1 || nestedLinks[0].items.length > 1;
console.log(slug, nestedLinks);
const isNestedSideBar = isNested(slug) && hasEnoughNestedDocs;
const links = isNestedSideBar ? nestedLinks : normalLinks;
const nextDocument = await nextDoc(`/docs/${slug}`, links);
const docTitle =
	doc?.data?.title || cleanSideBarTitle(slug.split('/').at(-1) as string);
---

<DocsLayout
	isNestedDoc={isNestedSideBar}
	sideBarMenuSections={links}
	title={`${docTitle} | Tembo Docs`}
	description={doc?.data?.description}
>
	<div class='flex flex-col relative w-full'>
		<div id='tembo-document' class='flex justify-between w-full mb-12'>
			<div
				class='flex flex-col gap-12 w-full mobile:mr-16 xl:mr-28 overflow-x-hidden max-w-[900px]'
			>
				<h1
					class='text-neon font-extrabold text-3xl lg:text-4xl xl:text-5xl'
				>
					{docTitle}
				</h1>
				<Markdown classNames='max-w-none'>
					<Content />
				</Markdown>
				<NextButton
					title={nextDocument.title}
					label='Next'
					subTitle={nextDocument.parentLabel}
					slug={nextDocument.slug}
					classNames='max-w-[450px] w-full self-end'
					subTitleStyles='text-neon'
				/>
			</div>
			<div>
				<div
					class='hidden min-[1150px]:flex flex-col items-start w-max min-[1150px]:sticky min-[1150px]:top-[133px]'
				>
					{
						headings.filter((heading) => heading.depth > 1).length >
							0 && (
							<Toc
								headings={headings.filter(
									(heading) => heading.depth !== 1,
								)}
								titleStyles='bg-gradient-to-r from-salmon via-purple to-lightPurple text-transparent bg-clip-text text-sm'
								title='ON THIS PAGE'
								isDocs
								offset={60}
								client:load
							/>
						)
					}
				</div>
			</div>
		</div>
		<Footer editLink={githubEditLink(doc.id)} />
	</div>
</DocsLayout>
