---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/NavBar';
import BlogLinks from '../../components/BlogLinks';
import Container from '../../components/Container';
import Markdown from '../../components/Markdown.astro';
import Tag from '../../components/Tag.astro';
import BackButton from '../../components/BackButton.astro';
import Author from '../../components/Author.astro';
import { getCollection } from 'astro:content';
import { AUTHORS } from '../../content/config';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
const currentPath = Astro.url.pathname;
const post = Astro.props;
const dateOptions = { year: 'numeric', month: 'short', day: 'numeric' };
const dateString = post.id.substring(0, 10);
const parsedDate = post.data?.date || new Date(dateString);
const author = AUTHORS[post.data.authors[0] as string || 'ryw'];
const { Content, remarkPluginFrontmatter, headings } = await post.render();
---

<Layout title={`${post.data.title} | Tembo`} htmlClasses='scroll-smooth' description={post.data.description || post.data.title} keywords={post.data.tags}>
    <NavBar client:load currentPage={currentPath} />
    <Container styles='pb-10 w-full'>
        <div class='mt-[120px] mobile:mt-[180px] w-full relative'>
            <div class='flex flex-col w-full'>
                <div class='flex items-start justify-between w-full gap-6'>
                    <header class='flex flex-col gap-8'>
                        <BackButton />
                        <div class='flex flex-col gap-6'>
                            <div>
                                <h1 class='text-neon font-extrabold text-5xl z-10 leading-[60px]'>{post.data.title}</h1>
                                <p class='text-white mt-4'>{parsedDate.toLocaleDateString('en-US', dateOptions as any)} • {remarkPluginFrontmatter.minutesRead}</p>
                            </div>
                            <a href={author.url || '/blog'} target='_blank' class='w-max'>
                                <Author name={author.name} title={author.title || 'Tembonaut'} avatar={author.image_url} />
                            </a>
                        </div>
                    </header>
                    <img src={`/${post.data.image || 'blogFallbackImage.svg'}`} alt='blog post hero image' class='hidden min-[1200px]:flex rounded-2xl w-[650px]' />
                </div>
                <div class='mt-12 mobile:mt-36 flex justify-between w-full'>
                    <div class='mobile:mr-12'>
                        <Markdown>
                            <Content />
                        </Markdown>
                    </div>
                    <div class='hidden mobile:flex flex-col gap-12'>
                        <div class='flex flex-wrap gap-4 items-start max-w-[180px]'>
                            {post.data.tags.map((tag: string) => <Tag title={tag} classNames='px-2.5 py-[0.4rem] text-center text-[12px] h-max border-salmon text-lightSalmon font-semibold bg-salmon bg-opacity-10' />)}
                        </div>
                        <div class='flex flex-col gap-4 w-max items-end mobile:sticky mobile:top-[100px]'>
                            <BlogLinks headings={headings} client:load />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Container>
</Layout>
