---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/NavBar';
import Footer from '../../components/Footer.astro';
import Toc from '../../components/Toc';
import Container from '../../components/Container';
import Markdown from '../../components/Markdown.astro';
import Tag from '../../components/Tag.astro';
import BackButton from '../../components/BackButton.astro';
import Author from '../../components/Author.astro';
import { getCollection } from 'astro:content';
import { AUTHORS } from '../../blogAuthors';
import { Image } from 'astro:assets';
import BlogFooter from '../../components/BlogFooter.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post, index) => ({
		params: { slug: post.slug },
		props: {
			post,
			nextPost: index === posts.length - 1 ? posts[0] : posts[index + 1],
		},
	}));
}
const currentPath = Astro.url.pathname;
const { post, nextPost } = Astro.props;
const dateOptions = { year: 'numeric', month: 'short', day: 'numeric' };
const dateString = post.id.substring(0, 10);
const nextPostDateString = nextPost.id.substring(0, 10);
const nextPostParsedDate = nextPost.data?.date || new Date(nextPostDateString);
const parsedDate = post.data?.date || new Date(dateString);
const authors = post.data.authors.map((author) => {
	return AUTHORS[author];
});
const images = import.meta.glob<{ default: ImageMetadata }>(
	'/src/content/blog/**/*.{jpeg,jpg,png,webp,svg,gif}',
);
const postDirectory = post.id.split('/')[0];
const image: any =
	images[
		`/src/content/blog/${postDirectory}${post.data.image?.replace('.', '')}`
	];
const { Content, remarkPluginFrontmatter, headings } = await post.render();
---

<Layout
	title={`${post.data.title} | Tembo`}
	htmlClasses='scroll-pt-[120px]'
	description={post.data.description || post.data.title}
	keywords={post.data.tags}
	image={post.data.image}
>
	<NavBar client:load currentPage={currentPath} isProgressBar={true} />
	<Container styles='pb-10 w-full'>
		<div class='mt-[120px] mobile:mt-[180px] w-full relative'>
			<div class='flex flex-col w-full'>
				<div
					class='flex flex-col min-[1200px]:flex-row items-start justify-between w-full gap-8'
				>
					<header class='flex flex-col gap-8'>
						<BackButton />
						<div class='flex flex-col gap-6'>
							<div>
								<h1
									class='text-neon font-extrabold text-3xl lg:text-4xl xl:text-5xl z-10 max-w-[600px]'
								>
									{post.data.title}
								</h1>
								<p class='text-white mt-4'>
									{
										parsedDate.toLocaleDateString(
											'en-US',
											dateOptions as any,
										)
									} • {remarkPluginFrontmatter.minutesRead}
								</p>
							</div>
							<div class='flex gap-6 items-center flex-wrap'>
								{
									authors.map((author) => (
										<a
											href={author?.url || '/blog'}
											target='_blank'
											class='w-max'
										>
											<Author
												name={author?.name}
												title={
													author?.title || 'Tembonaut'
												}
												avatar={author?.image_url}
											/>
										</a>
									))
								}
							</div>
						</div>
					</header>
					{
						image ? (
							<Image
								src={image()}
								alt='blog post hero image'
								class='flex rounded-2xl w-full max-h-[400px] min-[1200px]:w-[650px] min-[1200px]:max-h-[300px]'
							/>
						) : (
							<img
								src={`/blogFallbackImage.svg`}
								alt='blog post hero image'
								class='flex rounded-2xl w-[650px] max-h-[300px]'
							/>
						)
					}
				</div>
				<div
					class='mt-12 mobile:mt-36 mobile:flex mobile:justify-between w-full'
				>
					<div id='tembo-blog-post' class='m-0 mobile:mr-12'>
						<Markdown>
							<Content />
						</Markdown>
						<BlogFooter
							slug={nextPost.slug}
							title={nextPost.data.title}
							date={nextPostParsedDate.toLocaleDateString(
								'en-US',
								dateOptions as any,
							)}
						/>
					</div>
					<div class='hidden mobile:flex flex-col gap-12'>
						<div
							class='flex flex-wrap gap-4 items-start max-w-[180px]'
						>
							{
								post.data.tags.map((tag: string) => (
									<Tag
										title={tag}
										classNames='px-2.5 py-[0.4rem] text-center text-[12px] h-max border-salmon text-lightSalmon font-semibold bg-salmon bg-opacity-10'
									/>
								))
							}
						</div>
						<div
							class='flex flex-col gap-12 w-max items-start mobile:sticky mobile:top-[100px]'
						>
							{
								headings.length > 0 && (
									<Toc headings={headings} client:load />
								)
							}
							<div class='flex flex-col gap-4 self-start w-full'>
								<h2 class='text-lightGrey font-bold'>
									Share this article
								</h2>
								<div
									class='flex flex-row items-center w-max border-l-2 border-[#9EA2A633] gap-3'
								>
									<a
										class='pl-4'
										href={`https://news.ycombinator.com/submitlink?u=https://tembo.io/blog/${post.slug}&t=${encodeURIComponent(post.data.title)}`}
										target='_blank'
									>
										<svg
											xmlns='http://www.w3.org/2000/svg'
											height='20'
											width='20'
											viewBox='4 4 188 188'
										>
											<path
												d='m4 4h188v188h-188z'
												fill='#E9FC87'></path>
											<path
												d='m73.2521756 45.01 22.7478244 47.39130083 22.7478244-47.39130083h19.56569631l-34.32352071 64.48661468v41.49338532h-15.98v-41.49338532l-34.32352071-64.48661468z'
												fill='#120F0E'></path>
										</svg>
									</a>
									<a
										href={`https://twitter.com/intent/tweet?url=https://tembo.io/blog/${post.slug}&text=${encodeURIComponent(post.data.title)}`}
										target='_blank'
									>
										<svg
											xmlns='http://www.w3.org/2000/svg'
											width='16'
											height='16'
											viewBox='0 0 16 16'
											fill='none'
										>
											<path
												d='M0.038933 0.914551L6.21635 9.17419L0 15.8897H1.39916L6.84168 10.01L11.2389 15.8897H16L9.47488 7.16553L15.2611 0.914551H13.8619L8.84981 6.32942L4.8 0.914551H0.038933ZM2.09646 1.94506H4.28367L13.9422 14.8592H11.755L2.09646 1.94506Z'
												fill='#E9FC87'></path>
										</svg>
									</a>
									<a
										href={`https://www.reddit.com/r/postgresql/submit?url=https://tembo.io/blog/${post.slug}&title=${encodeURIComponent(post.data.title)}`}
										target='_blank'
									>
										<svg
											xmlns='http://www.w3.org/2000/svg'
											width='19'
											height='17'
											viewBox='0 0 19 17'
											fill='none'
										>
											<path
												d='M15.6187 11.5542C17.0919 11.5542 18.2862 10.36 18.2862 8.88674C18.2862 7.41352 17.0919 6.21924 15.6187 6.21924C14.1455 6.21924 12.9512 7.41352 12.9512 8.88674C12.9512 10.36 14.1455 11.5542 15.6187 11.5542Z'
												fill='#E9FC87'></path>
											<path
												d='M2.6675 11.5542C4.14072 11.5542 5.335 10.36 5.335 8.88674C5.335 7.41352 4.14072 6.21924 2.6675 6.21924C1.19428 6.21924 0 7.41352 0 8.88674C0 10.36 1.19428 11.5542 2.6675 11.5542Z'
												fill='#E9FC87'></path>
											<path
												d='M9.14956 16.8899C13.3554 16.8899 16.7649 14.3327 16.7649 11.1783C16.7649 8.02394 13.3554 5.4668 9.14956 5.4668C4.9437 5.4668 1.53418 8.02394 1.53418 11.1783C1.53418 14.3327 4.9437 16.8899 9.14956 16.8899Z'
												fill='#E9FC87'></path>
											<path
												d='M6.89571 10.623C6.85129 11.5906 6.20948 11.9417 5.46106 11.9417C4.71264 11.9417 4.14318 11.4463 4.18802 10.4787C4.23245 9.51114 4.87468 8.87061 5.62268 8.87061C6.37068 8.87061 6.94056 9.65499 6.89571 10.623Z'
												fill='#121212'></path>
											<path
												d='M14.1076 10.4787C14.152 11.4463 13.5821 11.9417 12.8345 11.9417C12.087 11.9417 11.4447 11.5906 11.3999 10.623C11.3555 9.65541 11.9254 8.87061 12.6729 8.87061C13.4205 8.87061 14.0627 9.51072 14.1076 10.4787Z'
												fill='#121212'></path>
											<path
												d='M9.25353 13.0894C8.32699 13.0894 7.43895 13.135 6.61776 13.218C6.4773 13.2324 6.38846 13.3779 6.44303 13.5082C6.90292 14.6069 7.98811 15.3786 9.25395 15.3786C10.5198 15.3786 11.6046 14.6069 12.0649 13.5082C12.1195 13.3779 12.0306 13.2324 11.8901 13.218C11.069 13.1346 10.1809 13.0894 9.25353 13.0894Z'
												fill='#121212'></path>
											<path
												d='M13.3219 4.69028C14.3659 4.69028 15.2123 3.84396 15.2123 2.79997C15.2123 1.75599 14.3659 0.909668 13.3219 0.909668C12.278 0.909668 11.4316 1.75599 11.4316 2.79997C11.4316 3.84396 12.278 4.69028 13.3219 4.69028Z'
												fill='#E9FC87'></path>
											<path
												d='M9.12285 5.70784C8.89651 5.70784 8.71289 5.61307 8.71289 5.46711C8.71289 3.77353 10.0904 2.396 11.784 2.396C12.0103 2.396 12.194 2.57961 12.194 2.80596C12.194 3.0323 12.0103 3.21592 11.784 3.21592C10.5427 3.21592 9.53239 4.2258 9.53239 5.46753C9.53239 5.61349 9.34877 5.70826 9.12243 5.70826L9.12285 5.70784Z'
												fill='#E9FC87'></path>
										</svg>
									</a>
									<a
										href={`https://www.linkedin.com/sharing/share-offsite/?url=https://tembo.io/blog/${post.slug}`}
										target='_blank'
									>
										<svg
											xmlns='http://www.w3.org/2000/svg'
											width='16'
											height='17'
											viewBox='0 0 16 17'
											fill='none'
										>
											<path
												d='M3.55558 4.44482H0V16.8894H3.55558V4.44482Z'
												fill='#E9FC87'></path>
											<path
												d='M11.9998 4.44482C9.5189 4.44482 9.09223 5.34972 8.88957 6.22261V4.44482H5.33398V16.8894H8.88957V9.7782C8.88957 8.6253 9.51446 8.00041 10.6674 8.00041C11.7927 8.00041 12.4451 8.61197 12.4451 9.7782V16.8894H16.0007V10.6671C16.0007 7.11151 15.5376 4.44482 11.9998 4.44482Z'
												fill='#E9FC87'></path>
											<path
												d='M1.77779 3.55558C2.75964 3.55558 3.55558 2.75964 3.55558 1.77779C3.55558 0.795944 2.75964 0 1.77779 0C0.795944 0 0 0.795944 0 1.77779C0 2.75964 0.795944 3.55558 1.77779 3.55558Z'
												fill='#E9FC87'></path>
										</svg>
									</a>
									<a
										href={`https://www.facebook.com/sharer.php?u=https://tembo.io/blog/${post.slug}`}
										target='_blank'
									>
										<svg
											fill='#E9FC87'
											height='16'
											width='17'
											version='1.1'
											id='Layer_1'
											xmlns='http://www.w3.org/2000/svg'
											xmlns:xlink='http://www.w3.org/1999/xlink'
											viewBox='0 0 310 310'
											xml:space='preserve'
										>
											<g id='XMLID_834_'>
												<path
													id='XMLID_835_'
													d='M81.703,165.106h33.981V305c0,2.762,2.238,5,5,5h57.616c2.762,0,5-2.238,5-5V165.765h39.064
								   c2.54,0,4.677-1.906,4.967-4.429l5.933-51.502c0.163-1.417-0.286-2.836-1.234-3.899c-0.949-1.064-2.307-1.673-3.732-1.673h-44.996
								   V71.978c0-9.732,5.24-14.667,15.576-14.667c1.473,0,29.42,0,29.42,0c2.762,0,5-2.239,5-5V5.037c0-2.762-2.238-5-5-5h-40.545
								   C187.467,0.023,186.832,0,185.896,0c-7.035,0-31.488,1.381-50.804,19.151c-21.402,19.692-18.427,43.27-17.716,47.358v37.752H81.703
								   c-2.762,0-5,2.238-5,5v50.844C76.703,162.867,78.941,165.106,81.703,165.106z'
												></path>
											</g>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</Container>
	<div class='relative bg-offBlack'>
		<div
			class='absolute top-0 flex h-[1px] w-full flex-row items-center justify-center opacity-100 shine'
		>
		</div>
		<Container>
			<div class='mt-16 mobile:mt-24'>
				<Footer />
			</div>
		</Container>
	</div>
</Layout>

<style is:global>
	@media screen and (max-width: 500px) {
		.tembo-blog-post-content tr {
			display: grid !important;
		}
	}
</style>
<script>
	const buttons = document.querySelectorAll('button.blogGoBack');

	buttons.forEach((button) => {
		button.addEventListener('click', () => {
			!document.referrer.includes('tembo.io')
				? (window.location.href = '/blog')
				: window.history.back();
		});
	});
</script>
