---
import { Image } from 'astro:assets';
import BookIcon from '../images/book.svg';
import Author from './Author.astro';
import { AUTHORS } from '../content/config';
interface Props {
    title: string;
    slug: string;
    heroImage?: string;
    readingTime: string;
    date: string;
    author?: string;
}
const { title, heroImage, slug, readingTime, date, author: authorProp } = Astro.props;
const author = AUTHORS[authorProp || 'ryw'];
---

<a class='col-span-12 mb-8 md:col-span-12 lg:col-span-6 xl:col-span-4 flex flex-col items-start justify-between bg-mwasi rounded-xl p-4 min-w-full gap-6 transition-all duration-300 ease-in-out hover:scale-[101.5%]' href={`/blog/${slug}`}>
    <div class='flex flex-col gap-6'>
        <img src={heroImage?.substring(1) || '/blogFallbackImage.svg'} alt={`${title} thumbnail`} class='rounded-xl w-full lg:max-h-[200px]' />
        <Author name={author.name} title={author.title || 'Tembonaut'} avatar={author.image_url} />
        <h2 class='text-white text-[20px]'>{title}</h2>
    </div>
    <div class='flex items-center justify-between w-full'>
        <div class='flex gap-2'>
            <Image src={BookIcon} alt='book' width={24} height={24} />
            <p class='text-lightGrey'>{readingTime}</p>
        </div>
        <p class='text-lightGrey'>{date}</p>
    </div>
</a>
