---
import { Image } from 'astro:assets';
import GithubGradient from '../images/githubGradient.svg';
import Youtube from '../images/youtube.svg';
import X from '../images/x.svg';
import Rss from '../images/rss.svg';
import Cloud from '../images/cloud.svg';
import ChevronRight from '../images/arrow-right.svg';
import ChevronLeft from '../images/arrow-left.svg';
interface Props {

}


---

<div class='mt-16'>
    <div class='flex flex-col gap-4 mb-12'>
        <a href='' class='p-4 rounded-lg gradient-next-button'>
            <div class='flex items-center gap-2'>
                <Image src={ChevronLeft} height={14} width={14} alt='Github cat logo' />
                <p class='text-lightGrey font-semibold text-sm'>Go back</p>
            </div>
        </a>
        <a href='' class='p-4 rounded-lg gradient-next-button'>
            <div class='flex flex-col items-end gap-2'>
                <div class='flex items-center gap-[5px]'>
                    <p class='text-lightGrey font-semibold text-sm'>Next post</p>
                    <Image src={ChevronRight} height={14} width={14} alt='Github cat logo' />
                </div>
                <h4 class='text-white text-end'>Pgvector vs Lantern part 2 - The one with parallel indexes</h4>
                <p class='text-lightGrey font-semibold text-xs'>Feb 14, 2024</p>
            </div>
        </a>
    </div>
    <div class='h-[1px] w-full bg-[#242424]' />
    <div class='flex flex-col gap-6'>
        <h3 class='text-white font-bold mt-10'>What's next?</h3>
        <div class='flex flex-col md:flex-row md:flex-wrap gap-6 md:gap-16'>
            <div class='flex flex-col gap-6'>
                <div class='flex gap-2'>
                    <Image src={Cloud} height={24} width={24} alt='Github cat logo' />
                    <a href="https://cloud.tembo.io" target='_blank' rel='noreferrer' class='font-secondary font-semibold text-grey'>
                        Try Tembo Cloud for free
                    </a>
                </div>
                <div class='flex gap-2'>
                    <Image src={GithubGradient} height={24} width={24} alt='Github cat logo' />
                    <a href="https://github.com/tembo-io/tembo" target='_blank' rel='noreferrer' class='font-secondary font-semibold text-grey'>
                        Star on Github
                    </a>
                </div>
                <div class='flex gap-2'>
                    <Image src={Youtube} height={24} width={24} alt='Youtube play button logo' />
                    <a href="https://www.youtube.com/@tembo_io/videos" target='_blank' rel='noreferrer' class='font-secondary font-semibold text-grey'>
                        Subscribe on Youtube
                    </a>
                </div>
            </div>
            <div class='flex flex-col gap-6'>
                <div class='flex gap-2'>
                    <Image src={Rss} height={24} width={24} alt='Github cat logo' />
                    <a href="https://tembo.io/feed.xml" target='_blank' rel='noreferrer' class='font-secondary font-semibold text-grey'>
                        View our RSS feed
                    </a>
                </div>
                <div class='flex gap-2'>
                    <Image src={X} height={24} width={24} alt='Github cat logo' />
                    <a href="https://twitter.com/tembo_io" target='_blank' rel='noreferrer' class='font-secondary font-semibold text-grey'>
                        Follow on X
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

