---
import { Image } from 'astro:assets';
import ChevronRight from '../images/arrow-right.svg';
import { styles } from '../util';

interface Props {
	slug: string;
	title: string;
	label?: string;
	subTitle?: string;
	classNames?: string;
	subTitleStyles?: string;
}
const { slug, title, classNames, subTitle, label, subTitleStyles } =
	Astro.props;
---

<a
	href={slug}
	class={styles('p-4 rounded-lg gradient-next-button', classNames)}
>
	<div class='flex flex-col items-end gap-2'>
		<div class='flex items-center gap-[5px]'>
			<p class='text-lightGrey font-semibold text-sm'>{label}</p>
			<Image
				src={ChevronRight}
				height={14}
				width={14}
				alt='Github cat logo'
			/>
		</div>
		<h4 class='text-white text-end'>{title}</h4>
		{
			subTitle && (
				<p
					class={styles(
						'text-lightGrey font-semibold text-xs',
						subTitleStyles,
					)}
				>
					{subTitle}
				</p>
			)
		}
	</div>
</a>
