---
import { Image } from 'astro:assets';
import Button from '../components/Button';
import blueTickCircle from '../images/blueTickCircle.svg';
import greenTickCircle from '../images/greenTickCircle.svg';
import pennants from '../images/pennants.svg';
import ProductionPricing from '../components/ProductionPricing';

const hobbyFeatures = [
	'200+ Extensions',
	'10+ Stacks',
	'Unlimited Databases',
	'0.25 vCPU & 1 GB Memory',
	'5 GB Storage',
	'Unlimited Reads/Writes',
];

const productionFeatures = [
	'200+ Extensions',
	'All Stacks',
	'Unlimited Databases',
	'Up to 32 vCPU',
	'Up to 500 GB Storage',
	'Unlimited Reads/Writes',
	'High Availability',
	'99.95% SLA',
	'Apps',
];

const enterpriseFeatures = [
	'Private Data Plane',
	'Private Networking',
	'Dedicated Technical Support',
	'Advanced Enterprise Security',
	'All features included in Production tier',
];
---

<div
	class='w-full px-4 py-8 bg-mwasi bg-opacity-80 rounded-3xl customMd:w-[calc((100%-(2rem*2))/3)]'
>
	<h2
		class='font-semibold text-pricingLightBlue text-[28px] leading-[35px] tracking-[0.54px]'
	>
		Hobby
	</h2>
	<span
		class='h-[38px] block mt-[15px] font-secondary font-light text-white text-base leading-[19px] opacity-80'
		>For personal projects and simple applications.</span
	>
	<span
		class='block mobile:mt-2 mt-7 font-semibold text-pricingLightBlue text-[32px] leading-[40px] tracking-[0.54px]'
	>
		Free
	</span>
	<Button
		client:load
		variant='blue'
		size='xl'
		styles='w-full mt-8 font-semibold text-[15px] leading-[4px] tracking-[0.54px] customXs:text-[19px]'
	>
		Sign Up Free
	</Button>
	<hr class='my-8 h-[1px] w-full bg-white border-none opacity-30' />
	<ul class='flex flex-col gap-2'>
		{
			hobbyFeatures.map((feature) => (
				<li class='min-h-8 flex'>
					<div class='flex gap-2 items-start'>
						<Image src={blueTickCircle} alt='check mark' />
						<span class='font-secondary font-normal text-white text-[0.9rem] leading-[27px]'>
							{feature}
						</span>
					</div>
				</li>
			))
		}
	</ul>
</div>
<div
	class='relative w-full customXs:row-span-2 customMd:-mt-[140px] customLg:-mt-[169px] customMd:w-[calc((100%-(2rem*2))/3)]'
>
	<Image
		src={pennants}
		alt='festive pennants'
		class='hidden customMd:block absolute w-[143px] h-[127px] -top-[90px] -right-[18px]'
	/>
	<div
		class='px-4 py-8 bg-mwasi bg-opacity-80 rounded-3xl border-2 border-pricingGreen'
	>
		<h2
			class='font-semibold text-pricingGreen text-[28px] leading-[35px] tracking-[0.54px]'
		>
			Production
		</h2>
		<span
			class='h-[38px] block mt-[15px] font-secondary font-light text-white text-base leading-[19px] opacity-80'
			>For production applications and high traffic.</span
		>
		<ProductionPricing client:load />
		<Button
			client:load
			variant='green'
			size='xl'
			styles='w-full mt-7 font-semibold text-[15px] leading-[4px] tracking-[0.54px] customXs:text-[19px]'
		>
			Get Started
		</Button>
		<hr class='my-8 h-[1px] w-full bg-white border-none opacity-30' />
		<ul class='flex flex-col gap-2'>
			{
				productionFeatures.map((feature) => (
					<li class='min-h-8 flex'>
						<div class='flex gap-2 items-start'>
							<Image src={greenTickCircle} alt='check mark' />
							<span class='font-secondary font-normal text-white text-[0.9rem] leading-[27px]'>
								{feature}
							</span>
						</div>
					</li>
				))
			}
		</ul>
	</div>
</div>
<div
	class='w-full px-4 py-8 bg-mwasi bg-opacity-80 rounded-3xl customMd:w-[calc((100%-(2rem*2))/3)]'
>
	<h2
		class='font-semibold text-pricingLightBlue text-[28px] leading-[35px] tracking-[0.54px]'
	>
		Enterprise
	</h2>
	<span
		class='h-[38px] block mt-[15px] font-secondary font-light text-white text-base leading-[19px] opacity-80'
		>For critical workloads and robust security.</span
	>
	<span
		class='block mobile:mt-2 mt-7 font-semibold text-pricingLightBlue text-[32px] leading-[40px] tracking-[0.54px]'
	>
		Custom
	</span>
	<a
		href='mailto:support@tembo.io'
		target='_blank'
		rel='noreferrer'
		class='mt-8 py-6 px-8 w-full inline-block rounded-full text-center bg-lightBlue font-secondary font-semibold text-[15px] text-mwasi leading-[4px] tracking-[0.54px] customXs:text-[19px]'
		>Contact Us</a
	>
	<hr class='my-8 h-[1px] w-full bg-white border-none opacity-30' />
	<ul class='flex flex-col gap-2'>
		{
			enterpriseFeatures.map((feature) => (
				<li class='min-h-8 flex'>
					<div class='flex gap-2 items-start'>
						<Image src={blueTickCircle} alt='check mark' />
						<span class='font-secondary font-normal text-white text-[0.9rem] leading-[27px]'>
							{feature}
						</span>
					</div>
				</li>
			))
		}
	</ul>
</div>
