---
import Animation from '@components/Animation';
import { Image } from 'astro:assets';
import { ArrowRightIcon } from 'lucide-react';
import Button from '../components/Button';
import Container from '../components/Container';
import LogoGrid from '../components/LogoGrid';
import NavBar from '../components/NavBar';
import PlatformSection from '../components/PlatformSection';
import Quotes from '../components/Quotes';
import StackSlider from '../components/StackSlider';
import Elephant10 from '../images/elephant10.svg';
import Elephant7 from '../images/elephant7.svg';
import ElephantScene from '../images/elephantScene.svg';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

const currentPath = Astro.url.pathname;
---

<Layout title='Tembo: Goodbye Database Sprawl, Hello Postgres'>
	<div
		class='main-content relative overflow-hidden border-b border-b-white/10'
	>
		<NavBar
			client:load
			currentPage={currentPath}
			isBanner={false}
		/>
		<div class='w-full h-[150px] overflow-hidden'></div>
		<Animation
			client:only='react'
			isFooter={true}
			styles='z-10 left-0 right-0 sm:bottom-0 fade-x-md-both-sides-animation opacity-20'
		/>
		<section class='md:mt-[100px]'>
			<Container styles='relative'>
				<section class='tembo-hero-section'>
					<div
						class='flex flex-col items-center justify-center z-10 pb-8 relative'
					>
						<header class='text-center slide-enter-content mt-12'>
							<h1
								class='text-white font-bold tracking-[0.47px] text-[28px] sm:text-[48px] md:text-[56px] lg:text-[64px] leading-tight
							z-10 mb-12'
							>
								The Easiest Way to<br />Deploy Optimized
								Postgres
							</h1>
							<p
								class='text-white/60 text-base md:text-2xl font-light leading-relaxed tracking-wide z-10 mb-12 max-w-[800px] mx-auto'
							>
								Deploy production-ready Postgres with AI, vector
								search, and 200+ extensions—all pre-configured
								and ready to scale.
							</p>
							<div
								class='flex flex-col md:flex-row gap-4 justify-center'
							>
								<Button
									variant='neon'
									size='lg'
									isLinkTag={true}
									styles='my-auto'
									link='https://cloud.tembo.io/sign-up'
									styles='text-base my-auto'
								>
									Deploy database
								</Button>
								<Button
									variant='ghost'
									size='lg'
									isLinkTag={true}
									link='https://meetings.hubspot.com/sylvie-o-connor?uuid=6af70fc6-4c8c-4936-9c4c-3d2a76d01a8d'
									target='_blank'
									styles='flex items-center mx-auto md:mx-0 gap-2'
								>
									<img
										src='/sylvie.png'
										alt='Chat with Sylvie'
										class='w-[30px] h-auto rounded-full mr-1 my-auto'
									/>
									Chat with Sylvie
									<ArrowRightIcon width={14} />
								</Button>
							</div>
						</header>
					</div>
				</section>
			</Container>
		</section>
		<LogoGrid client:load />
	</div>

	<section class='bg-[#0A0A0A] py-[40px] md:py-[150px] overflow-hidden'>
		<Container>
			<div
				class='flex flex-col items-center justify-center gap-4 md:gap-6'
			>
				<h3 class='text-neon font-secondary text-sm z-10'>
					BUILT TO SCALE
				</h3>
				<h2
					class='text-[24px] sm:text-[36px] md:text-[42px] lg:text-[48px] text-center leading-normal font-semibold z-10'
				>
					Build any application on Postgres<br />with Tembo
				</h2>
			</div>
		</Container>
		<div
			class='container max-w-stackSlider mx-auto mt-[40px] md:mt-[100px]'
		>
			<StackSlider client:only='react' />
		</div>

		<PlatformSection client:only='react' />

		<div
			class='w-full flex justify-center items-center flex-col mt-10 md:mt-20'
		>
			<h2
				class='text-[24px] sm:text-[36px] md:text-[42px] lg:text-[48px] leading-normal font-semibold'
			>
				What People Say About Us
			</h2>
		</div>
		<div
			class='container max-w-stackSlider mx-auto mt-[40px] md:mt-[100px]'
		>
			<Quotes
				className='mt-0'
				client:load
			/>
		</div>
	</section>

	<section class='tembo-postgres-section overflow-hidden'>
		<Container styles='relative py-[40px] md:py-28'>
			<div class='flex flex-col lg:flex-row justify-between gap-16'>
				<div class='flex flex-col max-w-xl'>
					<h2
						class='text-[24px] sm:text-[36px] md:text-[42px] lg:text-[48px] leading-tight font-semibold mb-6'
					>
						100% Postgres
					</h2>
					<p
						class='text-white/80 text-xl md:text-2xl font-light leading-relaxed mb-8'
					>
						The most beloved database on earth, now with
						enterprise-grade features and support
					</p>
					<div class='flex flex-col md:flex-row gap-4'>
						<Button
							variant='neon'
							size='lg'
							isLinkTag={true}
							link='https://cloud.tembo.io/sign-up'
							client:load
							styles='text-base my-auto'
						>
							Deploy Database
						</Button>
						<Button
							variant='ghost'
							size='lg'
							isLinkTag={true}
							link='https://docs.tembo.io'
							client:load
							styles='flex justify-center items-center gap-2 mx-auto w-full md:w-fit md:mx-0 text-center'
						>
							Learn More
							<ArrowRightIcon width={14} />
						</Button>
					</div>
				</div>
				<div class='relative hidden md:flex'>
					<Image
						src={ElephantScene}
						alt='Postgres Elephant Illustration'
						class='w-[400px] h-auto'
					/>
				</div>
			</div>
		</Container>
	</section>
	<div class='relative bg-offBlack'>
		<div
			class='absolute top-0 flex h-[1px] w-full flex-row items-center justify-center opacity-100 shine'
		>
		</div>
		<Container>
			<Footer />
		</Container>
	</div>
</Layout>

<style>
	.main-content {
		background: rgb(0, 0, 0);
		background-image: url('/pixelBg.svg');
		width: 100%;
		height: 100%;
	}
	.light-gradient {
		width: 45%;
		height: 1200px;
		background: radial-gradient(#ffffff 0px, transparent 35%);
		-ms-filter: blur(300px) saturate(150%);
		-webkit-filter: blur(300px) saturate(150%);
		filter: blur(300px) saturate(150%);
		transform: translate3d(0, 0, 0);
	}

	@-moz-document url-prefix() {
		.light-gradient {
			width: 45%;
			height: 1200px;
			background: radial-gradient(#ffffff 0px, transparent 55%);
			-ms-filter: blur(300px) saturate(150%);
			-webkit-filter: blur(300px) saturate(150%);
			filter: blur(300px) saturate(150%);
			opacity: 0.1;
		}
	}

	.light-gradient-small {
		width: 30%;
		height: 1000px;
		background: radial-gradient(#ffffff 0px, transparent 35%);
		-ms-filter: blur(300px) saturate(150%);
		-webkit-filter: blur(300px) saturate(150%);
		filter: blur(300px) saturate(150%);
		transform: translate3d(0, 0, 0);
	}

	@-moz-document url-prefix() {
		.light-gradient-small {
			width: 30%;
			height: 1000px;
			background: radial-gradient(#ffffff 0px, transparent 55%);
			-ms-filter: blur(300px) saturate(150%);
			-webkit-filter: blur(300px) saturate(150%);
			filter: blur(300px) saturate(150%);
			opacity: 0.1;
		}
	}

	.tembo-postgres-section {
		background-image: linear-gradient(-30deg, transparent 50%, #1c1c1c 50%);
	}
</style>
