---
import Logo from '../../images/logoWithText.svg';
import { Image } from 'astro:assets';
import Home from '../../images/home.svg';
import Line from './Line.astro';
import type { SideBarSection } from '../../types';
import { uppercaseFirstLetter } from '../../util';

interface Props {}

const sections: SideBarSection[] = [
	{
		label: 'product',
		items: [
			{
				label: 'overview',
				slug: '/docs/product/overview',
			},
			{
				label: 'features',
				slug: '/docs/product/features',
			},
			{
				label: 'pricing',
				slug: '/docs/product/pricing',
			},
		],
	},
];
---

<nav
	class='border-r border-r-[#EAEAEA33] max-w-[280px] w-full hidden min-[1100px]:flex'
>
	<div class='h-screen relative w-full'>
		<a href='/docs' class='flex items-center gap-2 sticky pt-8 px-8'>
			<Image src={Logo} alt='tembo logo' width={120} />
			<span
				class='bg-gradient-to-r from-salmon via-purple to-lightPurple inline-block text-transparent bg-clip-text'
				>Docs</span
			>
		</a>
		<div class='flex flex-col px-8 mt-[40px]'>
			<a
				href='/docs'
				class='font-secondary font-extrabold flex items-center gap-4'
			>
				<Image src={Home} alt='home' width={20} />
				Home
			</a>
			{
				sections.map((section) => (
					<div class='flex flex-col'>
						<div class='my-6'>
							<Line />
						</div>

						<span class='text-neon text-lg'>
							{uppercaseFirstLetter(section.label)}
						</span>
						<div class='mt-4 flex flex-col gap-2'>
							{section.items.map((item) => (
								<a
									href={item.slug}
									class='font-secondary text-lightGrey hover:text-white transition-all duration-100'
								>
									{item.label}
								</a>
							))}
						</div>
					</div>
				))
			}
		</div>
	</div>
</nav>
