---
import Markdown from '@components/Markdown.astro';

interface WhyTemboContent {
	heading: string;
	points: string[];
}

interface Props {
	extensions: string;
	support: string;
	addons: string;
	content: WhyTemboContent[];
}

const { content, extensions, support, addons } = Astro.props;
---

<section
	class='flex flex-col w-full items-center justify-center mt-[80px] lg:mt-[100px] px-3'
>
	<div
		class='flex text-center text-white font-bold tracking-[0.47px] text-[32px] mb-4'
	>
		Tembo vs Others
	</div>
	<div class='flex flex-col lg:flex-row justify-between gap-16 mt-16'>
		<div class='flex flex-col gap-2 lg:gap-4'>
			<div
				class='flex text-center text-white font-bold tracking-[0.47px] text-[20px]'
			>
				Extensions
			</div>
			<p class='text-lightGrey font-normal font-secondary text-base'>
				{extensions}
			</p>
		</div>
		<div class='flex flex-col gap-2 lg:gap-4'>
			<div
				class='flex text-center text-white font-bold tracking-[0.47px] text-[20px]'
			>
				Support
			</div>
			<p class='text-lightGrey font-normal font-secondary text-base'>
				{support}
			</p>
		</div>
		<div class='flex flex-col ggap-2 lg:gap-4'>
			<div
				class='flex text-center text-white font-bold tracking-[0.47px] text-[20px]'
			>
				Add Ons
			</div>
			<p class='text-lightGrey font-normal font-secondary text-base'>
				{addons}
			</p>
		</div>
	</div>

	<div
		class='flex flex-col gap-4 lg:gap-0 lg:flex-row w-full justify-between my-[80px] px-3'
	>
		{
			content.map((item) => {
				return (
					<div>
						<h2 class='font-bold text-white text-xl'>
							{item.heading}
						</h2>
						<Markdown>
							<ul>
								{item.points.map((point) => {
									return (
										<li class="'pt-6 text-lightGrey font-normal font-secondary text-base'">
											{point}
										</li>
									);
								})}
							</ul>
						</Markdown>
					</div>
				);
			})
		}
	</div>
</section>
