---
import cx from 'classnames';
import { Image } from 'astro:assets';
import blueCheck from '../images/blueCheck.svg';
import blueX from '../images/blueX.svg';
import Container from './Container';

interface Props {
	title: string;
	icon: ImageMetadata & { alt: string };
	rows: (string | boolean)[][];
	backdrop?: boolean;
	styles?: string;
}

const { title, icon, rows, backdrop = true, styles } = Astro.props;

const columnHeadings = ['Hobby', 'Production', 'Self Hosted'];
---

<section
	class={cx(
		{
			'bg-lightMwasi pt-[22px] pb-[38px] customXs:pb-[65px] mobile:pt-[3px] customSm:pb-[158px] customLg:py-[28px]':
				backdrop,
		},
		styles,
	)}
>
	<Container>
		<table class='w-full table-fixed border-separate border-spacing-0'>
			<thead
				class={cx(
					'sticky top-0 backdrop-blur-lg safari-blur',
					backdrop
						? 'bg-lightMwasi bg-opacity-70'
						: 'bg-black bg-opacity-50',
				)}
			>
				<tr>
					<th
						class='pt-[60px] pb-1 border-b border-white border-opacity-20 mobile:pt-[76px]'
					>
						<div class='flex items-center gap-3'>
							<Image
								src={icon}
								alt={icon.alt}
								class='w-[29px] h-[29px] customXs:h-[56px] customXs:w-[32px]'
							/>
							<span
								class='font-bold text-pricingGreen text-[28px] tracking-[0.473px] [text-shadow:0px_0px_81px_#000]'
							>
								{title}
							</span>
						</div>
					</th>
					{
						columnHeadings.map((heading) => (
							<th class='pt-[60px] pb-1 text-base leading-8 text-pricingGreen font-semibold tracking-[0.54px] border-b border-white border-opacity-20 mobile:pt-[76px]'>
								{heading}
							</th>
						))
					}
				</tr>
			</thead>
			<tbody>
				{
					rows.map((row) => (
						<tr class='h-16'>
							{row.map((content, i) =>
								i === 0 ? (
									<th
										scope='row'
										class='text-left font-secondary font-semibold text-white text-base leading-[19px] border-b border-white border-opacity-20 customXs:w-[145px] customSm:text-lg customSm:leading-[22px] customSm:w-[236px] customMd:w-[280px] customLg:w-[288px]'
									>
										{content}
									</th>
								) : typeof content === 'string' ? (
									<td class='text-center text-base font-secondary text-pricingLightBlue font-normal customSm:text-lg leading-[22px] border-b border-white border-opacity-20'>
										{content}
									</td>
								) : (
									<td class='b border-white border-opacity-20'>
										<Image
											src={content ? blueCheck : blueX}
											alt={
												content
													? 'check symbol meaning "included"'
													: 'x symbol meaning "not included"'
											}
											class='mx-auto h-[61px] w-[61px]'
										/>
									</td>
								),
							)}
						</tr>
					))
				}
			</tbody>
		</table>
	</Container>
</section>
