---
import NavBar from '../components/NavBar';
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container';
import Button from '../components/Button';
import Confetti from '../components/Confetti.astro';
import { Image } from 'astro:assets';
import StackHero from '../images/stackHero.svg';
import StackSlider from '../components/StackSlider';
import ElephantScene from '../images/ElephantScene.svg';
import Elephant11 from '../images/Elephant11.svg';
import Elephant12 from '../images/Elephant12.svg';
const currentPath = Astro.url.pathname;
---

<Layout title='Tembo: Goodbye Database Sprawl, Hello Postgres'>
	<div class="main-content">
		<NavBar currentPage={currentPath} client:load />
		<div class='w-full h-[150px]' />
		<Container styles='relative'>
			<section class='tembo-hero-section mt-[144px]'>
				<div class='flex flex-col items-center justify-center z-10 pb-[100px] relative'>
					<header class='text-center'>
						<h2 class='text-white font-light text-5xl z-20'>Goodbye Database Sprawl,</h2>
						<h1 class='text-neon font-extrabold text-[112px] z-10'>Hello Postgres.</h1>
					</header>
					<a href="https://cloud.tembo.io"><Button variant='gradient' size='lg' styles='mt-6'>Sign up</Button></a>
				</div>
				<Confetti />
			</section>
			<section class='tembo-card-stack-section flex items-center justify-center'>
				<Image src={StackHero} alt='Tembo Card Stack' />
			</section>
			<section class='tembo-build-any-application-section pb-[200px]'>
				<div class='flex flex-col items-center justify-center mt-36 gap-6'>
					<h3 class='text-neon font-secondary'>CURRENTLY IN BETA</h3>
					<h1 class='text-white font-bold text-6xl max-w-5xl text-center leading-normal'>Build any application, on Postgres</h1>
					<a href="https://cloud.tembo.io"><Button variant='gradient' size='lg'>Deploy Now</Button></a>
				</div>
				<StackSlider />
			</section>
		</Container>
		<section class='tembo-postgres-section bg-mwasi'>
			<Container styles='relative'>
				<div class='flex flex-col gap-6 pt-28 mb-6'>
					<h1 class='text-neon font-extrabold text-6xl z-10'>100% Postgres,</h1>
					<h2 class='text-white font-light text-3xl z-10'>the most beloved database on earth</h2>
					<Button variant='gradient' size='lg' styles='w-max'>Deploy Now</Button>
				</div>
				<div class='flex'>
					<Image src={ElephantScene} alt='Three elephants' class='w-[700px]' />
				</div>
				<Image src={Elephant11} alt='Three elephants' class='absolute top-[50px] right-[150px] w-[200px]' />
				<Image src={Elephant12} alt='Three elephants' class='absolute top-[150px] right-[500px] w-[150px]' />
			</Container>
		</section>
	</div>
</Layout>

<style>
	.main-content {
		background-image: url('/pixelBg.svg');
		width: 100%;
		height: 100%;
		z-index: 1;
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>
