---
import NavBar from '../components/NavBar';
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container';
import Button from '../components/Button';
import Confetti from '../components/Confetti.astro';
import { Image } from 'astro:assets';
import StackHero from '../images/stackHero.svg';
import StackSlider from '../components/StackSlider';
import ElephantScene from '../images/elephantScene.svg';
import Elephant11 from '../images/elephant11.svg';
import Elephant12 from '../images/elephant12.svg';
import Showcase from '../components/Showcase.astro';
import { navigate } from 'astro/transitions/router';
import Section3Confetti from '../components/Section3Confetti.astro';
import TemboStacksSection from '../components/TemboStacksSection';
import Extension from '../components/Extension.astro';
import DetailSequence from '../components/DetailSequence';
import ArrowButton from '../components/ArrowButton.astro';
import Animation from '../components/Animation';
import Footer from '../components/Footer.astro';
import CrossingWalk1 from '../animations/CrossingWalk1.json';
import CrossingWalk3 from '../animations/CrossingWalk3.json';
const currentPath = Astro.url.pathname;
---

<Layout title='Tembo: Goodbye Database Sprawl, Hello Postgres'>
	<div class="main-content">
		<NavBar currentPage={currentPath} client:load />
		<div class='w-full h-[150px]' />
		<Container styles='relative'>
			<div class='light-gradient absolute -top-[700px] -right-[100px]' />
			<section class='tembo-hero-section mt-[80px]'>
				<div class='flex flex-col items-center justify-center z-10 pb-[100px] relative slide-enter-content'>
					<header class='text-center mb-6'>
						<h2 class='text-white font-light text-[48px] z-20'>Goodbye Database Sprawl,</h2>
						<h1 class='text-neon font-extrabold text-[92px] z-10'>Hello Postgres.</h1>
					</header>
					<Button variant='gradient' size='lg' onClick={() => navigate('https://cloud.tembo.io')}>Sign up</Button>
				</div>
				<Confetti />
			</section>
			<section class='tembo-card-stack-section flex items-center justify-center'>
				<Image src={StackHero} alt='Tembo Card Stack' quality='max' />
			</section>
		</Container>
		<section class='tembo-build-any-application-section pb-[200px]'>
			<Container>
				<div class='flex flex-col items-center justify-center mt-36 gap-6'>
					<h3 class='text-neon font-secondary'>CURRENTLY IN BETA</h3>
					<h1 class='text-white font-bold text-[50px] max-w-5xl text-center leading-normal'>Build any application, on Postgres</h1>
					<Button variant='gradient' size='lg' onClick={() => navigate('https://cloud.tembo.io')}>Sign up</Button>
				</div>
			</Container>
			<div class='container max-w-stackSlider mx-auto'>
				<StackSlider client:only="react" />
			</div>
		</section>
		<section class='tembo-postgres-section'>
			<Container styles='relative py-28'>
				<div class='light-gradient absolute -top-[200px] right-[-100px]' />
				<div class='flex flex-col gap-6 mb-6'>
					<h1 class='text-neon font-extrabold text-6xl z-10'>100% Postgres,</h1>
					<h2 class='text-white font-light text-3xl z-10'>the most beloved database on earth</h2>
					<Button variant='gradient' size='lg' styles='w-max z-10' onClick={() => navigate('https://cloud.tembo.io')}>Deploy Now</Button>
				</div>
				<Image src={ElephantScene} alt='Three elephants' class='w-[850px]' />
				<Image src={Elephant11} alt='Three elephants' class='absolute top-[50px] right-[150px] w-[200px]' />
				<Image src={Elephant12} alt='Three elephants' class='absolute top-[150px] right-[500px] w-[150px]' />
				<div class='absolute right-0 top-1/2 px-4'>
					<Showcase />
				</div>
			</Container>
		</section>
		<Container styles='relative'>
			<Section3Confetti />
		</Container>
		<TemboStacksSection client:load />
		<section class='tembo-extensions-section pt-28 bg-offBlack'>
			<Container>
				<div class='flex flex-col items-center justify-center'>
					<h2 class='text-white font-bold text-[50px] max-w-5xl text-center leading-normal w-full'>Packed with <span class='bg-gradient-to-r from-salmon via-purple to-lightPurple inline-block text-transparent bg-clip-text text-[72px]'>200+</span> Extensions</h2>
				</div>
			</Container>
			<div class='mt-8 container max-w-stackSlider mx-auto flex flex-col items-center justify-center fade-x-md-both-sides'>
				<div class='flex gap-6'>
					<div class='flex flex-col gap-6'>
						<Extension extensionTitle='pg_vector' />
						<Extension extensionTitle='postgresml' wrapperStyles='bg-pink' titleStyles='text-neon' />
					</div>
					<div class='flex flex-col gap-6 mt-[200px]'>
						<Extension extensionTitle='pg_vector' wrapperStyles='bg-pink' titleStyles='text-neon' />
						<Extension extensionTitle='postgresml' wrapperStyles='bg-white' titleStyles='text-black' />
					</div>
					<div class='flex flex-col gap-6 mt-[100px]'>
						<Extension extensionTitle='pg_vector' wrapperStyles='bg-customDarkGrey' titleStyles='text-white' />
						<Extension extensionTitle='postgresml' wrapperStyles='bg-neon' />
					</div>
					<div class='flex flex-col gap-6 mt-[130px]'>
						<Extension extensionTitle='pg_vector' />
						<Extension extensionTitle='postgresml' wrapperStyles='bg-pink' titleStyles='text-neon' />
					</div>
					<div class='flex flex-col gap-6 mt-[80px]'>
						<Extension extensionTitle='pg_vector' wrapperStyles='bg-white' titleStyles='text-black' />
						<Extension extensionTitle='postgresml' wrapperStyles='bg-neon' />
					</div>
					<div class='flex flex-col gap-6 mt-[250px]'>
						<Extension extensionTitle='pg_vector' wrapperStyles='bg-pink' titleStyles='text-neon' />
						<Extension extensionTitle='postgresml' wrapperStyles='bg-white' titleStyles='text-black' />
					</div>
					<div class='flex flex-col gap-6 mt-[200px]'>
						<Extension extensionTitle='pg_vector' />
						<Extension extensionTitle='postgresml' wrapperStyles='bg-customDarkGrey' titleStyles='text-white' />
					</div>
					<div class='flex flex-col gap-6 mt-[260px]'>
						<Extension extensionTitle='postgresml' wrapperStyles='bg-customDarkGrey' titleStyles='text-white' />
						<Extension extensionTitle='pg_vector' />
					</div>
				</div>
				<Button variant='gradient' size='lg' styles='mb-2' onClick={() => navigate('https://cloud.tembo.io')}>Deploy Now</Button>
			</div>
		</section>
		<section class='why-tembo-section pt-28 bg-offBlack pb-[170px]'>
			<Container styles='relative'>
				<div class='flex flex-col'>
					<h2 class='text-7xl text-lightNeon font-bold'>Why Tembo?</h2>
					<div class='mt-16'>
						<div class='flex flex-col gap-12'>
							<div class='flex justify-between w-full gap-16'>
								<DetailSequence header='Reduce Sprawl' text='Consolidate your data stack without cost or lock-in worries.' styles='w-full' />
								<DetailSequence header='Fully Extensible' text='200+ extensions and counting means Tembo can be whatever you need it to be.' styles='w-full' />
								<DetailSequence header='External App Support' text='You’re not limited to just extensions—we also enable a growing library of extensions that can be deployed alongside your instance.' styles='w-full' />
							</div>
							<div class='flex justify-between w-full gap-16'>
								<DetailSequence header='Developer Friendly' text='Intuitive interface lets you build data services like you build applications.' styles='w-full' />
								<DetailSequence header='Postgres, not "Postgres-Compatible"' text='If you can do it on Postgres, you can do it on Tembo.' styles='w-full' />
								<DetailSequence header='One Vendor, Fully Managed' text='A zero-headache, end-to-end data service right from day one. We give you solutions, not just tools.' styles='w-full' />
							</div>
							<div class='flex justify-between w-full gap-16'>
								<DetailSequence header='Open Source' text='We’re committed to helping build the future of Postgres.' styles='w-full' />
								<DetailSequence header='Develop Locally, Unleash Anywhere' text='Develop and deploy your application in a local environment, and easily run it on the cloud.' styles='w-full' />
								<DetailSequence header='Use-case Optimized' text='Stacks are pre-made, customized “flavors” of Postgres + extensions designed for common application needs.' styles='w-full' />
							</div>
						</div>
					</div>
				</div>
			</Container>
		</section>
		<section class='tembo-footer-section pt-28 relative bg-offBlack'>
			<footer class='tembo-footer relative'>
				<div class='container max-w-stackSlider mx-auto relative'>
					<Animation client:only="react" animation={CrossingWalk1} styles='-z-1 -top-[600px]' />
					<div class='flex flex-col items-center justify-center pb-[200px]'>
						<h2 class='text-white font-bold text-[50px] max-w-5xl text-center leading-normal w-full z-50 mt-28'>Join The Herd</h2>
						<div class='flex items-center justify-center mt-10 gap-4 z-50'>
							<Button variant='gradient' size='lg' onClick={() => navigate('https://cloud.tembo.io')}>Deploy Now</Button>
							<ArrowButton title='Join the team' link='https://tembo.breezy.hr/' />
						</div>
					</div>
				</div>
				<Container>
					<Footer />
				</Container>
			</footer>
		</section>
	</div>
</Layout>

<style>
	.main-content {
		background: rgb(0, 0, 0);
		background-image: url('/pixelBg.svg');
		width: 100%;
		height: 100%;
	}
	.light-gradient {
		width: 45%;
		height: 1200px;
		background: radial-gradient(#ffffff 0px, transparent 35%);
		-ms-filter: blur(300px) saturate(150%);
		-webkit-filter: blur(300px) saturate(150%);
		filter: blur(300px) saturate(150%);
	}

	@-moz-document url-prefix() {
		.light-gradient {
			width: 45%;
			height: 1200px;
			background: radial-gradient(#ffffff 0px, transparent 55%);
			-ms-filter: blur(300px) saturate(150%);
			-webkit-filter: blur(300px) saturate(150%);
			filter: blur(300px) saturate(150%);
			opacity: 0.1;
		}
	}

	.tembo-postgres-section {
  		background-image: linear-gradient(-30deg, transparent 50%, #1C1C1C 50%);
	}
</style>
