---
import NavBar from '../components/NavBar';
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container';
import Button from '../components/Button';
import Confetti from '../components/Confetti.astro';
import { Image } from 'astro:assets';
import StackHero from '../images/stackHero.svg';
import StackSlider from '../components/StackSlider';
import ElephantScene from '../images/elephantScene.svg';
import Elephant11 from '../images/elephant11.svg';
import Elephant12 from '../images/elephant12.svg';
import Showcase from '../components/Showcase.astro';
import { navigate } from 'astro/transitions/router';
import Section3Confetti from '../components/Section3Confetti.astro';
import TemboStacksSection from '../components/TemboStacksSection';
import Extension from '../components/Extension.astro';
const currentPath = Astro.url.pathname;
---

<Layout title='Tembo: Goodbye Database Sprawl, Hello Postgres'>
	<div class="main-content">
		<NavBar currentPage={currentPath} client:load />
		<div class='w-full h-[150px]' />
		<Container styles='relative'>
			<div class='light-gradient absolute -top-[700px] -right-[100px]' />
			<section class='tembo-hero-section mt-[144px]'>
				<div class='flex flex-col items-center justify-center z-10 pb-[100px] relative slide-enter-content'>
					<header class='text-center mb-6'>
						<h2 class='text-white font-light text-5xl z-20'>Goodbye Database Sprawl,</h2>
						<h1 class='text-neon font-extrabold text-[112px] z-10'>Hello Postgres.</h1>
					</header>
					<Button variant='gradient' size='lg' onClick={() => navigate('https://cloud.tembo.io')}>Sign up</Button>
				</div>
				<Confetti />
			</section>
			<section class='tembo-card-stack-section flex items-center justify-center'>
				<Image src={StackHero} alt='Tembo Card Stack' quality='max' />
			</section>
		</Container>
		<section class='tembo-build-any-application-section pb-[200px]'>
			<Container>
				<div class='flex flex-col items-center justify-center mt-36 gap-6'>
					<h3 class='text-neon font-secondary'>CURRENTLY IN BETA</h3>
					<h1 class='text-white font-bold text-[50px] max-w-5xl text-center leading-normal'>Build any application, on Postgres</h1>
					<Button variant='gradient' size='lg' onClick={() => navigate('https://cloud.tembo.io')}>Deploy Now</Button>
				</div>
			</Container>
			<div class='container max-w-stackSlider mx-auto'>
				<StackSlider client:only="react" />
			</div>
		</section>
		<section class='tembo-postgres-section'>
			<Container styles='relative py-28'>
				<div class='light-gradient absolute -top-[200px] right-[-100px]' />
				<div class='flex flex-col gap-6 mb-6'>
					<h1 class='text-neon font-extrabold text-6xl z-10'>100% Postgres,</h1>
					<h2 class='text-white font-light text-3xl z-10'>the most beloved database on earth</h2>
					<Button variant='gradient' size='lg' styles='w-max z-10' onClick={() => navigate('https://cloud.tembo.io')}>Deploy Now</Button>
				</div>
				<Image src={ElephantScene} alt='Three elephants' class='w-[850px]' />
				<Image src={Elephant11} alt='Three elephants' class='absolute top-[50px] right-[150px] w-[200px]' />
				<Image src={Elephant12} alt='Three elephants' class='absolute top-[150px] right-[500px] w-[150px]' />
				<div class='absolute right-0 top-1/2 px-4'>
					<Showcase />
				</div>
			</Container>
		</section>
		<Container styles='relative'>
			<Section3Confetti />
		</Container>
		<TemboStacksSection client:load />
		<section class='tembo-extensions-section pt-28 bg-offBlack'>
			<Container>
				<div class='flex flex-col items-center justify-center'>
					<h1 class='text-white font-bold text-[50px] max-w-5xl text-center leading-normal w-full'>Packed with <span class='bg-gradient-to-r from-salmon via-purple to-lightPurple inline-block text-transparent bg-clip-text'>200+</span> Extensions</h1>
					<div>
						<Extension extensionTitle='pg_vector' />
					</div>
				</div>
			</Container>
		</section>
	</div>
</Layout>

<style>
	.main-content {
		background: rgb(0, 0, 0);
		background-image: url('/pixelBg.svg');
		width: 100%;
		height: 100%;
	}
	.light-gradient {
		width: 45%;
		height: 1200px;
		background: radial-gradient(#ffffff 0px, transparent 35%);
		-ms-filter: blur(300px) saturate(150%);
		-webkit-filter: blur(300px) saturate(150%);
		filter: blur(300px) saturate(150%);
	}

	@-moz-document url-prefix() {
		.light-gradient {
			width: 45%;
			height: 1200px;
			background: radial-gradient(#ffffff 0px, transparent 55%);
			-ms-filter: blur(300px) saturate(150%);
			-webkit-filter: blur(300px) saturate(150%);
			filter: blur(300px) saturate(150%);
			opacity: 0.1;
		}
	}

	.tembo-postgres-section {
  		background-image: linear-gradient(-30deg, transparent 50%, #1C1C1C 50%);
	}
</style>
