---
import { Image } from 'astro:assets';
import Elephant15 from '../images/elephant15.svg';
import Elephant16 from '../images/elephant16.svg';
import blueTickCircle from '../images/blueTickCircle.svg';
import greenTickCircle from '../images/greenTickCircle.svg';
import pennants from '../images/pennants.svg';
import queue from '../images/queue.svg';
import clipboard from '../images/clipboard.svg';
import phone from '../images/phone.svg';
import blueCheck from '../images/blueCheck.svg';
import blueX from '../images/blueX.svg';
import rainbowArrow from '../images/rainbowArrow.svg';
import NavBar from '../components/NavBar';
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container';
import Button from '../components/Button';
import ProductionPricing from '../components/ProductionPricing';
import Quotes from '../components/Quotes';
import Faqs from '../components/Faqs';
import ArrowButton from '../components/ArrowButton.astro';
import Footer from '../components/Footer.astro';
import Animation from '../components/Animation';
import FeatureCard from '../components/FeatureCard.astro';
import BasicTable from '../components/BasicTable.astro';
const currentPath = Astro.url.pathname;

const hobbyFeatures = [
	'200+ Extensions',
	'Limited Stacks',
	'Up to 2 Databases',
	'0.25 vCPU & 1 GB Memory',
	'5 GB Storage',
	'Unlimited Reads/Writes',
];

const productionFeatures = [
	'200+ Extensions',
	'All Stacks',
	'Unlimited Databases',
	'0.25 to 32 vCPU',
	'10 GB to 1 TB Memory',
	'Unlimited Reads/Writes',
	'High Availability',
	'Sidecars & Apps',
];

const enterpriseFeatures = [
	'Private Data Plane',
	'Network Isolation',
	'Dedicated Technical Support',
	'Optional Managed Data Plane',
	'Advanced Enterprise Security',
	'Bring Your Own Cloud',
];

const generalIncluded = [
	'Custom Domains',
	'Connection pooling',
	'Point in time recovery',
	'IP Whitelisting',
];

const platformIncluded = [
	'Side Car Support',
	'REST Endpoint',
	'Read Replicas',
	'High Availability',
];

const checkWithAlt = { ...blueCheck, alt: 'check symbol' };
const xWithAlt = { ...blueX, alt: 'x symbol' };

const generalRows = [
	['Side car support', checkWithAlt, checkWithAlt, checkWithAlt],
	['Automatic Back Ups', checkWithAlt, checkWithAlt, checkWithAlt],
	['Point in time recovery', checkWithAlt, checkWithAlt, checkWithAlt],
	['Monitoring & Alerting', checkWithAlt, checkWithAlt, checkWithAlt],
	['High Availability', xWithAlt, checkWithAlt, checkWithAlt],
	['Read-Replicas', xWithAlt, checkWithAlt, checkWithAlt],
	['Instance Re-sizing', xWithAlt, checkWithAlt, checkWithAlt],
	['Uptime SLA', '99%', '99.9%', '99.99%'],
];

const platformRows = [
	['Team members', '10', 'Unlimited', 'Unlimited'],
	['Log Retention', '30 Days', '90 Days', '365 Days'],
	['Access Control', 'Owner, User', 'Owner, User', 'RBAC'],
	['SSO', xWithAlt, checkWithAlt, checkWithAlt],
];

const supportRows = [
	['Community Support', xWithAlt, checkWithAlt, 'Single'],
	['Email Support', xWithAlt, checkWithAlt, checkWithAlt],
	['Designated Support', xWithAlt, checkWithAlt, checkWithAlt],
	['Support SLA', xWithAlt, checkWithAlt, checkWithAlt],
	['Onboarding Support', xWithAlt, xWithAlt, checkWithAlt],
	['Dedicated Customer Engineer', xWithAlt, xWithAlt, checkWithAlt],
];
---

<Layout title='Pricing - Tembo'>
	<div
		class='w-full h-full bg-black customXs:bg-[url("/triangularPixelBg.svg")] customXs:bg-no-repeat customXs:bg-[length:1280px_1075px] customXs:bg-[77%_0%] customSm:bg-left-top customMd:bg-[length:1440px_1075px] customLg:bg-[length:1680px_1075px]'
	>
		<NavBar client:load currentPage={currentPath} />
		<Container
			styles='pt-[155px] customXs:pt-[128px] customSm:flex customSm:justify-between customSm:pt-[175px] customLg:pt-[147px]'
		>
			<div
				class='flex justify-center items-start gap-6 customXs:gap-[52px] customSm:order-2 customSm:gap-[30px] customLg:gap-[35px]'
			>
				<Image
					src={Elephant16}
					alt='purple elephant'
					class='ml-1.5 customXs:ml-[30px] w-[121px] h-[131px] customXs:w-[147px] customXs:h-[157px] customSm:ml-[20px] customLg:w-[171px] customLg:h-[182px]'
				/>
				<Image
					src={Elephant15}
					alt='green elephant'
					class='mt-1.5 customXs:mt-2 w-[170px] h-[220px] customXs:w-[206px] customXs:h-[264px] customSm:mt-[70px] customLg:w-[241px] customLg:h-[307px] customLg:mt-[80px]'
				/>
			</div>
			<div class='shrink-0'>
				<h1
					class='mt-6 font-bold text-pricingGreen text-4xl leading-[45px] tracking-[0.472px] customXs:mt-10 customXs:text-6xl customXs:leading-[75px] customSm:text-[68px] customSm:leading-[85px] customSm:mt-[65px] customMd:mt-[25px] customLg:mt-[53px]'
				>
					Tembo’s Pricing
				</h1>
				<p
					class='mt-2.5 font-secondary font-medium text-white text-sm leading-[25px] capitalize customXs:text-base opacity-80'
				>
					Start for Free, No credit card required.<br />Pay for what
					you use. One simple price. No complex algorithms.
				</p>
			</div>
		</Container>
		<Container
			styles='mt-[131px] flex flex-col gap-10 customXs:mt-20 customS:mt-[96px] customSm:flex-row customSm:gap-4 customSm:items-start customMd:mt-[215px] customLg:mt-[164px]'
		>
			<article
				class='px-4 py-8 bg-mwasi bg-opacity-80 rounded-3xl w-full max-w-[560px] mx-auto'
			>
				<h2
					class='font-semibold text-pricingLightBlue text-[28px] leading-[35px] tracking-[0.54px]'
				>
					Hobby
				</h2>
				<span
					class='block mt-[15px] font-secondary font-light text-white text-base leading-[19px] opacity-80'
					>For personal projects and simple applications.</span
				>
				<span
					class='block mt-8 font-semibold text-pricingLightBlue text-[32px] leading-[40px] tracking-[0.54px]'
				>
					Free
				</span>
				<Button
					client:load
					variant='blue'
					size='xl'
					styles='w-full mt-8 font-semibold text-[15px] leading-[18px] tracking-[0.54px] customXs:text-[19px] customXs:leading-[23px]'
				>
					Sign Up Free
				</Button>
				<hr
					class='my-8 h-[1px] w-full bg-white border-none opacity-30'
				/>
				<ul class='flex flex-col gap-2'>
					{
						hobbyFeatures.map((feature) => (
							<li class='min-h-[50px] flex'>
								<div class='flex gap-2 items-start'>
									<Image
										src={blueTickCircle}
										alt='check mark'
									/>
									<span class='font-secondary font-normal text-white text-base leading-[27px] customMd:text-lg'>
										{feature}
									</span>
								</div>
							</li>
						))
					}
				</ul>
			</article>
			<article
				class='relative w-full max-w-[560px] mx-auto customSm:-mt-[45px] customMd:-mt-[245px] customLg:-mt-[220px]'
			>
				<Image
					src={pennants}
					alt='festive pennants'
					class='hidden customSm:block absolute w-[143px] h-[127px] -top-[90px] -right-[18px]'
				/>
				<div
					class='relative px-4 py-8 bg-mwasi bg-opacity-80 rounded-3xl border-2 border-pricingGreen'
				>
					<h2
						class='font-semibold text-pricingGreen text-[28px] leading-[35px] tracking-[0.54px]'
					>
						Production
					</h2>
					<span
						class='block mt-[15px] font-secondary font-light text-white text-base leading-[19px] opacity-80'
						>For production applications and high traffic.</span
					>
					<ProductionPricing client:load />
					<Button
						client:load
						variant='green'
						size='xl'
						styles='w-full mt-8 font-semibold text-[15px] leading-[18px] tracking-[0.54px] customXs:text-[19px] customXs:leading-[23px]'
					>
						Get Started
					</Button>
					<hr
						class='my-8 h-[1px] w-full bg-white border-none opacity-30'
					/>
					<ul class='flex flex-col gap-2'>
						{
							productionFeatures.map((feature) => (
								<li class='min-h-[50px] flex'>
									<div class='flex gap-2 items-start'>
										<Image
											src={greenTickCircle}
											alt='check mark'
										/>
										<span class='font-secondary font-normal text-white text-base leading-[27px] customMd:text-lg'>
											{feature}
										</span>
									</div>
								</li>
							))
						}
					</ul>
				</div>
			</article>
			<article
				class='px-4 py-8 bg-mwasi bg-opacity-80 rounded-3xl w-full max-w-[560px] mx-auto'
			>
				<h2
					class='font-semibold text-pricingLightBlue text-[28px] leading-[35px] tracking-[0.54px]'
				>
					Enterprise
				</h2>
				<span
					class='block mt-[15px] font-secondary font-light text-white text-base leading-[19px] opacity-80'
					>For critical workloads and robust security.</span
				>
				<span
					class='block mt-8 font-semibold text-pricingLightBlue text-[32px] leading-[40px] tracking-[0.54px]'
				>
					Custom
				</span>
				<a
					href='mailto:support@tembo.io'
					target='_blank'
					rel='noreferrer'
					class='mt-8 py-6 px-8 w-full inline-block rounded-full text-center bg-lightBlue font-secondary font-semibold text-[15px] text-mwasi leading-[18px] tracking-[0.54px] customXs:text-[19px] customXs:leading-[23px]'
					>Contact Us</a
				>
				<hr
					class='my-8 h-[1px] w-full bg-white border-none opacity-30'
				/>
				<ul class='flex flex-col gap-2'>
					{
						enterpriseFeatures.map((feature) => (
							<li class='min-h-[50px] flex'>
								<div class='flex gap-2 items-start'>
									<Image
										src={blueTickCircle}
										alt='check mark'
									/>
									<span class='font-secondary font-normal text-white text-base leading-[27px] customMd:text-lg'>
										{feature}
									</span>
								</div>
							</li>
						))
					}
				</ul>
			</article>
		</Container>
		<Container
			styles='mt-[58px] mb-[37px] customXs:mt-[65px] customSm:mt-0'
		>
			<h2
				class='relative w-[209px] font-bold text-white text-[26px] leading-[33px] tracking-[0.472px] customXs:text-[34px] customXs:leading-[43px]'
			>
				Plans comparison
				<Image
					src={rainbowArrow}
					alt='colorful arrow'
					class='w-[56px] h-[105px] absolute -bottom-[90px] -right-4 customXs:-right-[55px] customSm:-bottom-[95px] customSm:-right-[66px] customSm:w-[62px] customSm:h-[117px]'
				/>
			</h2>
		</Container>
		<BasicTable
			title='General'
			icon={{ ...queue, alt: 'message queue symbol' }}
			rows={generalRows}
		/>
		<Container
			styles='flex flex-col gap-6 mt-[126px] mb-[175px] customXs:mt-[139px] customXs:mb-[150px] customSm:grid customSm:mt-[144px] customSm:grid-rows-2 customSm:grid-cols-2 customSm:mb-[135px] customMd:mb-[110px] customLg:mt-[86px] customLg:mb-[100px]'
		>
			{
				generalIncluded.map((feature) => (
					<FeatureCard feature={feature} />
				))
			}
		</Container>
		<BasicTable
			title='Platform'
			icon={{ ...clipboard, alt: 'clipboard symbol' }}
			rows={platformRows}
			backdrop={false}
		/>
		<Container
			styles='flex flex-col gap-6 mt-[126px] mb-[144px] customXs:mb-[115px] customSm:mt-[142px] customSm:grid customSm:grid-rows-2 customSm:grid-cols-2 customMd:mt-[90px] customMd:mb-[150px]'
		>
			{
				platformIncluded.map((feature) => (
					<FeatureCard feature={feature} />
				))
			}
		</Container>
		<BasicTable
			title='Support'
			icon={{ ...phone, alt: 'telephone symbol' }}
			rows={supportRows}
		/>
		<Quotes client:load />
		<Container
			styles='mt-[150px] pb-[160px] customXs:pb-[265px] customSm:mt-[150px] customMd:mt-[130px] customLg:mt-[125px] md:pb-[200px] xl:pb-[500px]'
		>
			<Faqs client:load />
		</Container>
		<section class='tembo-footer-section mobile:pt-28 relative bg-black'>
			<div class='container max-w-stackSlider mx-auto relative'>
				<Animation
					client:only='react'
					isFooter={true}
					styles='z-10 top-[300px] xs:top-[100px] sm:top-[50px] md:-top-[200px] xl:-top-[600px] fade-x-md-both-sides-animation'
				/>
				<div
					class='flex flex-col justify-center pb-[100px] min-[400px]:pb-[200px] z-10'
				>
					<Container styles='z-10 pb-24'>
						<h2
							class='text-white font-bold text-[25.5px] customXxs:text-[32px] customXs:text-[40px] customSm:text-[50px] text-center leading-normal w-full z-50 mt-28'
						>
							Join The Herd
						</h2>
						<div
							class='flex-col min-[500px]:flex-row flex items-center justify-center mt-10 gap-4 z-50'
						>
							<Button
								variant='gradient'
								size='lg'
								client:load
								styles='h-[60px] w-full min-[500px]:w-[182px] font-semibold font-primary z-10'
							>
								Try Free
							</Button>
							<ArrowButton
								title='Join the team'
								link='mailto:careers@tembo.io'
							/>
						</div>
					</Container>
				</div>
			</div>
			<div class='relative bg-offBlack z-10'>
				<div
					class='absolute top-0 flex h-[1px] w-full flex-row items-center justify-center opacity-100 shine'
				>
				</div>
				<Container styles='z-50'>
					<Footer />
				</Container>
			</div>
		</section>
	</div>
</Layout>
