---
import NavBar from '../../components/NavBar';
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container';
import Footer from '../../components/Footer.astro';
import ElephantAI from 'src/images/elephant-ai.svg';
import StackedCardsOrder from 'src/images/stacked-cards-order.png';
import TemboAITransactions from 'src/images/tembo-ai-transactions.svg';
import TemboAIFinancials from 'src/images/tembo-ai-financials.svg';
import TransactionSection from '@components/solutions/TransactionSection.astro';
import FeaturesSection from '@components/solutions/FeaturesSection.astro';
import Testimonials from '@components/solutions/Testimonials.astro';
import JoinTemboCTA from '@components/JoinTemboCTA.astro';
import IntroSection from '@components/solutions/IntroSection.astro';
import Accordion from '@components/Accordion';
import Benefits from '@components/solutions/Benefits.astro';
import WhyTembo from '@components/solutions/WhyTembo.astro';
const currentPath = Astro.url.pathname;
---

<Layout title='Tembo AI'>
	<NavBar client:load currentPage={currentPath} />
	<Container styles='relative'>
		<IntroSection
			title='Tembo AI'
			description=`Tembo AI offers robust capabilities for integrating advanced AI and machine learning technologies. The versatility and power of Tembo’s Stacksspan across  customer service, predictive analytics and beyond to enhance business operations, improve customer experiences, and drive innovation. These solutions combined make it easier for developers to build and deploy sophisticated AI & ML applications.`
			deployButtonColor='sqlPink'
			img={ElephantAI}
			imgClassName='w-[380px] h-[370px]'
		/>
		<TransactionSection
			useCaseText='Retail and E-commerce Transactions'
			scenarioText='Enhance customer support and segment customers.'
			detailsText=`Integrate a chatbot that retrieves relevant information from your company’s knowledge base to provide accurate responses to customer queries about products, orders, and returns. Segment customers based on purchasing behavior and demographics to tailor marketing strategies and improve customer engagement.`
			imgMetadata={StackedCardsOrder}
			rightAlignedImg={true}
		/>
		<TransactionSection
			useCaseText='Banking and Financial Services'
			scenarioText=`Detect and prevent fraud and analyze documents.`
			detailsText=`Identify fraudulent transactions and activities by implementing models that detect fraudulent transactions in real-time through the analysis of patterns and anomalies in transaction data. Identify and group similar documents in large datasets, useful for legal document analysis and contract management.`
			imgMetadata={TemboAITransactions}
			leftAlignedImg={true}
		/>
		<TransactionSection
			useCaseText='Travel'
			scenarioText='Personalized recommendations and travel analytics.'
			detailsText=`AI-powered tools analyze user preferences and past behavior to suggest destinations, accommodations, and activities personalized to travelers. Virtual assistants and chatbots provide 24/7 customer support, answer common queries, and assist with bookings. AI predicts travel demand, helping companies optimize inventory and pricing strategies. Machine learning models predict delays and cancellations to manage disruptions and offer alternative solutions to affected travelers, thus enhancing customer experiences.`
			imgMetadata={TemboAIFinancials}
			rightAlignedImg={true}
		/>
		<FeaturesSection />
		<Benefits />
		<Testimonials
			titleQuote='“Tembo makes Postgres easy for us.”'
			quote=` ”We don’t have to worry about spinning up or tuning it. We get stacks
        that just work out of the box, and we know they are going to be tuned
        without having to do a spike. We now use Tembo to manage a fleet of over
        20 production instances and a number of non-prod and development
        environments, and we’re excited to leverage Tembo for larger and larger
        workloads as our customers ask us for more specialized use cases. Tembo
        has become so fundamental to our platform that we don’t even think about
        alternatives anymore. When you’re not spending time thinking about your
        database, that’s how you know it’s a good solution.”`
			customerName='Cody Hanson'
			customerRole='Engineering Manager, Arch.dev'
		/>
		<WhyTembo
			content={{
				extensions: `Tembo supports all community AI extensions`,
				support: `Support for 100s of open source models on Hugging Face`,
				addons: `The only Postgres provider that has seamless support for
						LLMs`,
				postgres: `Simplify architecture by using SQL native functions. Atomic updates to embeddings. Community support for vector data types.`,
				tembo: `Highest performing Postrgres SaaS. Lowest operational cost of managing Postgres. World class Postgres support team.`,
			}}
		/>
		<JoinTemboCTA />
	</Container>
	<div class='relative'>
		<div
			class='absolute top-0 flex h-[1px] w-full flex-row items-center justify-center opacity-100 shine'
		>
		</div>
		<Container>
			<div class='mt-16 mobile:mt-24'>
				<Footer />
			</div>
		</Container>
	</div>
</Layout>
