---
import NavBar from '../../components/NavBar';
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container';
import Footer from '../../components/Footer.astro';
import Button from '../../components/Button';
import { Image } from 'astro:assets';
import ElephantAI from 'src/images/elephant-ai.svg';
import StackedCardsOrder from 'src/images/stacked-cards-order.png';
import TemboAITransactions from 'src/images/tembo-ai-transactions.svg';
import ArrowRight from 'src/images/arrow-right-black.svg';
import TemboAIFinancials from 'src/images/tembo-ai-financials.svg';
import TransactionSection from '@components/solutions/TransactionSection.astro';
import FeaturesSection from '@components/solutions/FeaturesSection.astro';
import Testimonials from '@components/solutions/Testimonials.astro';
import AddOnSection from '@components/solutions/AddOnSection.astro';
import JoinTemboCTA from '@components/JoinTemboCTA.astro';
import Accordion from '@components/Accordion';
const currentPath = Astro.url.pathname;
---

<Layout title='Tembo AI'>
	<NavBar client:load currentPage={currentPath} />
	<Container styles='relative'>
		<section
			class='flex flex-col-reverse md:flex-col-reverse lg:flex-row w-full items-center justify-center mt-[120px] mobile:mt-[180px] justify-between'
		>
			<div class='flex flex-col w-full md:w-full lg:w-1/2'>
				<div
					class='text-white font-bold tracking-[0.47px] text-[44px] lg:text-[60px] leading-tight mb-10 w-full lg:w-1/2 text-center lg:text-left'
				>
					Tembo AI
				</div>
				<p
					class='text-lightGrey font-normal font-secondary text-sm mb-10 text-center lg:text-left w-full lg:w-3/4 leading-6'
				>
					Tembo Transactional provides Online Transaction Processing
					(OLTP) capabilities to manage high volumes of transactions
					quickly and accurately. While your applications may vary in
					complexity and I/O intensity, our OLTP solution stands out
					due to its ACID compliance, ensuring reliable and accurate
					operations, and scalability to grow with application
					demands.
				</p>
				<div
					class='flex flex-row justify-center align-center lg:justify-start gap-4'
				>
					<Button
						variant='sqlPink'
						size='lg'
						isLinkTag={true}
						link='https://cloud.tembo.io/sign-up'
						client:load
					>
						<div class='flex flex-row gap-2 my-auto'>
							Deploy Now
							<Image
								src={ArrowRight}
								width={16}
								height={16}
								alt='chevron arrow right'
							/>
						</div>
					</Button>
					<Button
						variant='primary'
						size='lg'
						isLinkTag={true}
						link='https://tembo.io/contact/'
						client:load
					>
						Contact Sales
					</Button>
				</div>
			</div>
			<Image
				src={ElephantAI}
				width={380}
				height={370}
				alt='AI tembo elephant'
				class='w-[380px] h-[370px]'
			/>
		</section>
		<TransactionSection
			useCaseText='Retail and E-commerce Transactions'
			scenarioText='Enhance customer support and segment customers.'
			detailsText=`Integrate a chatbot that retrieves relevant information from your company’s knowledge base to provide accurate responses to customer queries about products, orders, and returns. Segment customers based on purchasing behavior and demographics to tailor marketing strategies and improve customer engagement.`
			imgMetadata={StackedCardsOrder}
			rightAlignedImg={true}
		/>
		<TransactionSection
			useCaseText='Banking and Financial Services'
			scenarioText=`PDetect and prevent fraud and analyze documents.`
			detailsText=`Identify fraudulent transactions and activities by implementing models that detect fraudulent transactions in real-time through the analysis of patterns and anomalies in transaction data.  Identify and group similar documents in large datasets, useful for legal document analysis and contract management.`
			imgMetadata={TemboAITransactions}
			leftAlignedImg={true}
		/>
		<TransactionSection
			useCaseText='Travel'
			scenarioText='personalized recommendations and travel analytics.'
			detailsText=`I-powered tools analyze user preferences and past behavior to suggest destinations, accommodations, and activities personalized to travelers. Virtual assistants and chatbots provide 24/7 customer support, answer common queries, and assist with bookings. AI predicts travel demand, helping companies optimize inventory and pricing strategies. Machine learning models predict delays and cancellations to manage disruptions and offer alternative solutions to affected travelers, thus enhancing customer experiences.`
			imgMetadata={TemboAIFinancials}
			rightAlignedImg={true}
		/>
		<FeaturesSection />
		<Testimonials
			titleQuote='“Tembo makes Postgres easy for us.”'
			quote=` ”We don’t have to worry about spinning up or tuning it. We get stacks
        that just work out of the box, and we know they are going to be tuned
        without having to do a spike. We now use Tembo to manage a fleet of over
        20 production instances and a number of non-prod and development
        environments, and we’re excited to leverage Tembo for larger and larger
        workloads as our customers ask us for more specialized use cases. Tembo
        has become so fundamental to our platform that we don’t even think about
        alternatives anymore. When you’re not spending time thinking about your
        database, that’s how you know it’s a good solution.”`
			customerName='Cody Hanson'
			customerRole='Engineering Manager, Arch.dev'
		/>
		<section
			class='tembo-for-startups-section flex flex-col w-full items-center justify-center my-[80px] lg:my-[200px] px-3'
		>
			<div
				class='flex items-center justify-center text-neon font-light tracking-[0.47px] sm:text-[12px] md:text-[16px] lg:text-[20px] mb-6'
			>
				More...
			</div>
			<div
				class='flex text-center text-white font-bold tracking-[0.47px] text-[32px] mb-6'
			>
				Tembo vs Others
			</div>
			<div class='flex flex-col lg:flex-row justify-between gap-16 mt-16'>
				<div class='flex flex-col gap-4'>
					<div
						class='flex text-center text-white font-bold tracking-[0.47px] text-[20px]'
					>
						Extensions
					</div>
					<p
						class='text-lightGrey font-normal font-secondary text-sm'
					>
						Over 200 extensions that are installable with a click of
						your ...
					</p>
				</div>
				<div class='flex flex-col gap-4'>
					<div
						class='flex text-center text-white font-bold tracking-[0.47px] text-[20px]'
					>
						Support
					</div>
					<p
						class='text-lightGrey font-normal font-secondary text-sm'
					>
						Support for all Postgres workloads—including
						Transactional, Analytical, and AI
					</p>
				</div>
				<div class='flex flex-col gap-4'>
					<div
						class='flex text-center text-white font-bold tracking-[0.47px] text-[20px]'
					>
						Add Ons
					</div>
					<p
						class='text-lightGrey font-normal font-secondary text-sm'
					>
						A variety of ecosystem add ons are also available with a
						click
					</p>
				</div>
			</div>

			<div
				class='flex flex-col lg:flex-row justify-between my-[100px] mobile:mt-[80px] px-3'
			>
				<div
					class='flex flex-col justify-center align-center w-full lg:w-1/2'
				>
					<div
						class='flex text-left text-neon font-light tracking-[0.47px] sm:text-[12px] md:text-[16px] lg:text-[20px] mb-6'
					>
						More...
					</div>
					<div
						class='flex text-left text-white font-bold tracking-[0.47px] text-[32px] mb-6'
					>
						Ask Tembo
					</div>
				</div>
				<div class='w-full lg:w-1/2'>
					<Accordion
						client:load
						buttonIconHidePath='/arrow-down.svg'
						buttonIconShowPath='/arrow-up.svg'
						headerStyles='font-bold text-white text-xl'
						contentStyles='pt-6 text-lightGrey font-normal font-secondary text-sm'
						showSeparator={true}
						items={[
							{
								heading: 'Why on Postgres?',
								content: `ACID compliance ensures reliable and accurate transaction processing.
Easy scalability to support your growing application demands.
Strong out-of-the-box OLTP performance and reliability.
`,
							},
							{
								heading: 'Why on Tembo?',
								content: `Automated backups, maintenance and updates.
High availability options that  ensure reliability and uptime.
A wide selection of available Postgres extensions relevant to OLTP workloads.
`,
							},
						]}
					/>
				</div>
			</div>
		</section>
		<JoinTemboCTA />
	</Container>
	<div class='relative'>
		<div
			class='absolute top-0 flex h-[1px] w-full flex-row items-center justify-center opacity-100 shine'
		>
		</div>
		<Container>
			<div class='mt-16 mobile:mt-24'>
				<Footer />
			</div>
		</Container>
	</div>
</Layout>
