---
import Layout from '@layouts/Layout.astro';
import Footer from '@components/Footer.astro';
import BuildcampDay from '@components/BuildcampDay.astro';
import TeamMember from '@components/TeamMember.astro';
import Markdown from '@components/Markdown.astro';
import { Image } from 'astro:assets';

import BuildcampHeroImage from 'src/images/buildcamp-hero-image.png';
import ArrowRight from 'src/images/arrow-right.svg';
import SamaySharma from 'src/images/team/samay_sharma.jpg';
import AdamHendel from 'src/images/team/adam_hendel.jpg';
import ShaunThomas from 'src/images/team/shaun_thomas.jpg';
import DavidWheeler from 'src/images/team/david_wheeler.jpg';
import JasonPetersen from 'src/images/team/jason_petersen.jpg';
import AdarshShah from 'src/images/team/adarsh_shah.jpg';
import NavBar from '@components/NavBar';
import Container from '@components/Container';
import Button from '@components/Button';
import BuildcampForm from '@components/BuildcampForm';

const currentPath = Astro.url.pathname;
---

<Layout title='Buildcamp | Tembo'>
	<NavBar client:load currentPage={currentPath} />
	<Container>
		<div class='max-w-[1000px] mx-auto px-4'>
			{/* Hero Section */}
			<section
				class='flex flex-col lg:flex-row w-full items-center justify-center mt-[120px] mobile:mt-[180px] gap-6 md:gap-4 lg:gap-0'
			>
				<div class='flex flex-col w-full md:w-full lg:w-1/2'>
					<h1
						class='text-neon font-bold tracking-[0.47px] text-[44px] lg:text-[60px] leading-tight mb-10 w-full text-center lg:text-left'
					>
						Tembo Buildcamp
					</h1>
					<p
						class='text-white font-normal font-secondary text-md lg:text-xl mb-10 text-center lg:text-left w-full lg:w-3/4 leading-6'
					>
						From zero to use case in 5 days.
					</p>
					<div
						class='flex flex-row justify-center align-center lg:justify-start gap-4'
					>
						<Button
							variant='gradient'
							size='lg'
							client:load
							scrollTo={true}
							scrollToElement='buildcampForm'
						>
							<div class='flex flex-row gap-2 my-auto'>
								Schedule a Buildcamp
								<Image
									src={ArrowRight}
									width={16}
									height={16}
									alt='chevron arrow right'
								/>
							</div>
						</Button>
					</div>
				</div>
				<Image
					src={BuildcampHeroImage}
					width={600}
					height={500}
					alt='hero image'
					class='rounded-xl'
				/>
			</section>

			{/* What is Buildcamp Section */}
			<section class='my-20'>
				<Markdown classNames='mx-auto'>
					<h2>What is Buildcamp?</h2>
					<h5>Unlocking the power of Postgres… together.</h5>
					<p>
						A developer's boot camp dream: Tembo Buildcamp provides
						personalized, hands-on training to master Tembo's
						advanced features and capabilities. From zero to use
						case in under five days, you'll be equipped to
						confidently put Postgres to work for your company. Let
						us take on your most ambitious projects with you.
						Together, we can unlock the full potential of Postgres
						for your business.
					</p>
					<h5>
						A week-long intensive working session and immediate
						problem-solving.
					</h5>
					<p>
						Sick of being talked at and demo-ed to? Get ready to
						roll up your sleeves and dive into the use case you've
						been dreaming of building. We will save you from the
						pain of your most immediate data management issues by
						using Postgres in innovative ways. Hang out with the
						Tembo team for a three to five-day sprint and transform
						your vision into co-authored code. We'll begin iterating
						on your project within the first hour of the initial
						working session. Wouldn't it be nice to solve your
						business problems with dramatic acceleration from our
						experts?
					</p>
					<h5>The support doesn't stop after the week is over.</h5>
					<p>
						Join our community of like-minded professionals and get
						support even after your Buildcamp experience ends. We
						care about your use case as much as you do, and we're
						with you for the long haul with world-class customer
						support and a thriving community of Tembo users.
					</p>
				</Markdown>
			</section>

			{/* Who is Buildcamp for Section */}
			<section class='my-20'>
				<Markdown classNames='mx-auto'>
					<h2>Who is Buildcamp for?</h2>
					<h5>
						Want a durable, working application? A viable proof of
						concept to showcase your leadership? Have a project
						that's collecting dust on your desk?
					</h5>
					<p>
						Our accelerated working sessions are designed for all
						sizes. Whether you're a big corporation, midsize
						business, or startup, we are here to build with you. We
						want to collaborate with engineers and technical leaders
						from your company who appreciate the power and endless
						possibilities in the world of Postgres.
					</p>
				</Markdown>
			</section>

			{/* Why Choose Tembo Section */}
			<section class='my-20'>
				<Markdown classNames='mx-auto'>
					<h2>Why Choose Tembo?</h2>
					<ul>
						<li>
							<b class='text-white'>Expert Collaborators:</b>
							Learn from industry experts with many years of experience
							in Postgres.
						</li>
						<li>
							<b class='text-white'>Customized Agenda:</b>
							We tailor the buildcamp to meet your specific needs and
							goals.
						</li>
						<li>
							<b class='text-white'>Ongoing Support:</b>
							Join our community of like-minded professionals and get
							support even after the buildcamp ends.
						</li>
					</ul>
				</Markdown>
			</section>

			{/* Sample Schedule Section */}
			<section class='my-20'>
				<h2 class='text-5xl font-bold mb-12'>Sample Schedule</h2>
				<div class='space-y-8'>
					<BuildcampDay
						day='1'
						title='Problem Discovery and Tembo Overview'
						description='The Tembo team provides an orientation to Postgres and the Tembo platform in the context of the unique challenge facing your business.'
					/>
					<BuildcampDay
						day='2-3'
						title='Building and Development'
						description='Our team works alongside your team to build the foundation of a working application that leverages the unique features and capabilities of Postgres.'
					/>
					<BuildcampDay
						day='4'
						title='Iteration and Testing'
						description="The Tembo team works with your team to test and iterate on the application, squashing bugs and working out the kinks until we're all happy with the result."
					/>
					<BuildcampDay
						day='5'
						title='Launch and Deployment'
						description="Our team works with your team to launch and deploy the application to your company's infrastructure, along with any necessary configuration or setup."
					/>
				</div>
			</section>

			{/* Meet Our Team Section */}
			<section class='my-20'>
				<h2 class='text-5xl font-bold mb-4 text-center'>
					MEET OUR TEAM
				</h2>
				<h3 class='text-3xl font-bold mb-12 text-center'>
					OUR POSTGRES EXPERTS
				</h3>
				<div
					class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12'
				>
					<TeamMember
						name='Samay Sharma'
						title='CTO, Co-Founder'
						image={SamaySharma}
					/>
					<TeamMember
						name='Adam Hendel'
						title='Founding Engineer'
						image={AdamHendel}
					/>
					<TeamMember
						name='Shaun Thomas'
						title='Senior Engineer'
						image={ShaunThomas}
					/>
					<TeamMember
						name='David Wheeler'
						title='Principal Architect'
						image={DavidWheeler}
					/>
					<TeamMember
						name='Jason Petersen'
						title='Senior Engineer'
						image={JasonPetersen}
					/>
					<TeamMember
						name='Adarsh Shah'
						title='Senior Engineer'
						image={AdarshShah}
					/>
				</div>
			</section>

			{/* Buildcamp Costs Section */}
			<section class='my-20'>
				<h2 class='text-5xl font-bold mb-12'>Buildcamp Costs</h2>
				<div class='grid md:grid-cols-2 gap-8'>
					<div class='bg-zinc-900 rounded-xl p-8'>
						<h3 class='text-2xl font-bold mb-4 text-emerald-400'>
							Priority
						</h3>
						<ul class='space-y-4'>
							<li>
								Skip the line: get your first choice of dates
								and location
							</li>
							<li>$10,000 fixed up-front cost</li>
							<li>
								Receive $15,000 worth of Tembo Usage Credits
							</li>
						</ul>
					</div>
					<div class='bg-zinc-900 rounded-xl p-8'>
						<h3 class='text-2xl font-bold mb-4 text-emerald-400'>
							Standard
						</h3>
						<ul class='space-y-4'>
							<li>Subject to availability</li>
							<li>
								No fee (other than your team's travel expenses,
								if applicable)
							</li>
							<li>Receive $10,000 in Tembo credits</li>
						</ul>
					</div>
				</div>
			</section>

			{/* Contact Form Section */}
			<section
				class='flex flex-col w-full items-center justify-center my-20'
			>
				<BuildcampForm client:load />
			</section>
		</div>
	</Container>
	<div class='relative'>
		<div
			class='absolute top-0 flex h-[1px] w-full flex-row items-center justify-center opacity-100 shine'
		>
		</div>
		<Container>
			<div class='mt-16 mobile:mt-24'>
				<Footer />
			</div>

			<style>
				section {
					position: relative;
				}
			</style>
		</Container>
	</div>
</Layout>
