---
import NavBar from '../../components/NavBar';
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container';
import Footer from '../../components/Footer.astro';
import Button from '../../components/Button';
import IconWithBackground from '../../components/IconWithBackground';
import { Image } from 'astro:assets';
import DbGreen from 'src/images/db-green-transactional.png';
import StackedCardsOrder from 'src/images/stacked-cards-order.png';
import TemboTransactions from 'src/images/tembo-transactions.png';
import StackedCardsReservation from 'src/images/stacked-cards-reservation.png';
import TransactionSection from '@components/TransactionSection.astro';
const currentPath = Astro.url.pathname;
---

<Layout title='Tembo Transactional'>
	<NavBar client:load currentPage={currentPath} />
	<Container>
		<section
			class='tembo-for-startups-section flex flex-row w-full items-center justify-center mt-[120px] mobile:mt-[180px] justify-between'
		>
			<div class='flex flex-col w-1/2'>
				<div
					class='text-white font-bold tracking-[0.47px] text-[32px] sm:text-[40px] md:text-[56px] lg:text-[60px] leading-tight mb-6 w-1/2'
				>
					Tembo Transactional
				</div>
				<p
					class='text-lightGrey font-normal font-secondary text-sm mb-12 w-3/4'
				>
					Tembo Transactional provides Online Transaction Processing
					(OLTP) capabilities to manage high volumes of transactions
					quickly and accurately. While your applications may vary in
					complexity and I/O intensity, our OLTP solution stands out
					due to its ACID compliance, ensuring reliable and accurate
					operations, and scalability to grow with application
					demands.
				</p>
				<div class='flex flex-row gap-4'>
					<Button
						variant='gradient'
						size='lg'
						isLinkTag={true}
						link='https://cloud.tembo.io/sign-up'
						client:load
					>
						Deploy Now
					</Button>
					<Button
						variant='primary'
						size='lg'
						isLinkTag={true}
						link='https://tembo.io/contact/'
						client:load
					>
						Contact Sales
					</Button>
				</div>
			</div>
			<Image
				src={DbGreen}
				width={590}
				height={600}
				alt='green database'
				class='w-1/2'
			/>
		</section>
		<!-- <section
			class='tembo-for-startups-section flex flex-row w-full items-center justify-center mt-[120px] mobile:mt-[180px] justify-between'
		>
			<div class='flex flex-col w-1/2'>
				<div
					class='text-lighterGrey2 font-secondary sm:text-[8px] md:text-[12px] lg:text-[14px] mb-3'
				>
					Use Cases
				</div>
				<div
					class='text-white font-bold tracking-[0.47px] sm:text-[16px] md:text-[24px] lg:text-[32px] mb-6'
				>
					Retail and E-commerce Transactions
				</div>

				<div class='flex flex-row'>
					<IconWithBackground
						iconPath='/public/clipboard-white.svg'
					/>
					<div
						class='text-white font-bold tracking-[0.47px] sm:text-[12px] md:text-[16px] lg:text-[20px] mb-6'
					>
						Scenario:
					</div>
				</div>

				<p
					class='text-lightGrey font-normal font-secondary text-sm mb-12'
				>
					Managing sales transactions for an online retail platform.
				</p>

				<div class='flex flex-row'>
					<IconWithBackground
						iconPath='/public/task-list-white.svg'
					/>
					<div
						class='text-white font-bold tracking-[0.47px] sm:text-[12px] md:text-[16px] lg:text-[20px] mb-6'
					>
						Details:
					</div>
				</div>
				<p
					class='text-lightGrey font-normal font-secondary text-sm mb-12'
				>
					OLTP systems process customer orders, update inventory
					levels, handle payments, and manage customer data in
					real-time. This ensures that the e-commerce platform can
					handle a high volume of transactions simultaneously without
					delays, providing a seamless shopping experience for
					customers.
				</p>
			</div>
			<div class='w-[370px]'>
				<Image
					src={StackedCardsOrder}
					width={370}
					height={220}
					alt='green database'
				/>
			</div>
		</section> -->
		<TransactionSection
			useCaseText='Retail and E-commerce Transactions'
			scenarioText='Managing sales transactions for an online retail platform.'
			detailsText='OLTP systems process customer orders, update inventory
					levels, handle payments, and manage customer data in
					real-time. This ensures that the e-commerce platform can
					handle a high volume of transactions simultaneously without
					delays, providing a seamless shopping experience for
					customers.'
			imgMetadata={StackedCardsOrder}
		/>
		<section
			class='tembo-for-startups-section flex flex-row w-full items-center justify-center mt-[120px] mobile:mt-[180px] justify-between'
		>
			<Image
				src={TemboTransactions}
				width={370}
				height={210}
				alt='green database'
			/>
			<div class='flex flex-col w-1/2'>
				<div
					class='text-lighterGrey2 font-secondary sm:text-[8px] md:text-[12px] lg:text-[14px] mb-3'
				>
					Use Cases
				</div>
				<div
					class='text-white font-bold tracking-[0.47px] sm:text-[16px] md:text-[24px] lg:text-[32px] mb-6'
				>
					Banking and Financial Services
				</div>

				<div class='flex flex-row'>
					<IconWithBackground
						iconPath='/public/clipboard-white.svg'
					/>
					<div
						class='text-white font-bold tracking-[0.47px] sm:text-[12px] md:text-[16px] lg:text-[20px] mb-6'
					>
						Scenario:
					</div>
				</div>
				<p
					class='text-lightGrey font-normal font-secondary text-sm mb-12'
				>
					Processing banking transactions such as withdrawals,
					deposits, and transfers.
				</p>
				<div class='flex flex-row'>
					<IconWithBackground
						iconPath='/public/task-list-white.svg'
					/>
					<div
						class='text-white font-bold tracking-[0.47px] sm:text-[12px] md:text-[16px] lg:text-[20px] mb-6'
					>
						Details:
					</div>
				</div>
				<p
					class='text-lightGrey font-normal font-secondary text-sm mb-12'
				>
					OLTP systems enable banks to manage millions of transactions
					per day securely and efficiently. They ensure real-time
					processing of account updates, balance checks, and fund
					transfers, providing customers with instant access to their
					financial information and services.
				</p>
			</div>
		</section>
		<section
			class='tembo-for-startups-section flex flex-row w-full items-center justify-center mt-[120px] mobile:mt-[180px] justify-between'
		>
			<div class='flex flex-col w-1/2'>
				<div
					class='text-lighterGrey2 font-secondary sm:text-[8px] md:text-[12px] lg:text-[14px] mb-3'
				>
					Use Cases
				</div>
				<div
					class='text-white font-bold tracking-[0.47px] sm:text-[16px] md:text-[24px] lg:text-[32px] mb-6'
				>
					Airline Reservation Systems
				</div>
				<div class='flex flex-row'>
					<IconWithBackground
						iconPath='/public/clipboard-white.svg'
					/>
					<div
						class='flex items-center justify-center text-white font-bold tracking-[0.47px] sm:text-[12px] md:text-[16px] lg:text-[20px] mb-6'
					>
						Scenario:
					</div>
				</div>
				<p
					class='text-lightGrey font-normal font-secondary text-sm mb-12'
				>
					Managing flight bookings and reservations
				</p>
				<div class='flex flex-row'>
					<IconWithBackground
						iconPath='/public/task-list-white.svg'
					/>
					<div
						class='text-white font-bold tracking-[0.47px] sm:text-[12px] md:text-[16px] lg:text-[20px] mb-6'
					>
						Details:
					</div>
				</div>
				<p
					class='text-lightGrey font-normal font-secondary text-sm mb-12'
				>
					OLTP systems handle the real-time processing of flight
					reservations, ticketing, and seat assignments. They allow
					airlines to manage availability, pricing, and customer data
					effectively, ensuring that customers can book flights,
					change reservations, and check in for flights in real-time.
				</p>
			</div>
			<div class='w-[370px] h-[220px]'>
				<Image
					src={StackedCardsReservation}
					width={370}
					height={220}
					alt='green database'
				/>
			</div>
		</section>
		<section
			class='tembo-for-startups-section flex flex-row w-full items-center justify-center mt-[120px] mobile:mt-[180px] justify-between'
		>
			<div
				class='flex flex-col customMd:flex-row customMd:justify-between w-full gap-16'
			>
				<div class='flex flex-col gap-4 max-w-[530px]'>
					<IconWithBackground
						iconPath='/public/status-up.svg'
						bgDimensionsClassName='w-14 h-14'
						iconDimensionsClassName='w-7 h-7'
					/>
					<h1 class='text-white font-semibold font-secondary text-xl'>
						Scalability
					</h1>
					<p
						class='font-secondary font-normal text-base text-otherGrey opacity-70'
					>
						Offers the ability to scale resources up or down based
						on demand, ensuring optimal performance and
						cost-efficiency.
					</p>
				</div>
				<div class='flex flex-col gap-4 max-w-[530px]'>
					<IconWithBackground
						iconPath='/public/cloud-add-icon.svg'
						bgDimensionsClassName='w-14 h-14'
						iconDimensionsClassName='w-7 h-7'
					/>
					<h1 class='text-white font-semibold font-secondary text-xl'>
						High Availability
					</h1>
					<p
						class='font-secondary font-normal text-base text-otherGrey opacity-70'
					>
						Ensures databases are always available with built-in
						redundancy and failover mechanisms to minimize downtime.
					</p>
				</div>
				<div class='flex flex-col gap-4 max-w-[530px]'>
					<IconWithBackground
						iconPath='/public/shield-icon.svg'
						bgDimensionsClassName='w-14 h-14'
						iconDimensionsClassName='w-7 h-7'
					/>
					<h1 class='text-white font-semibold font-secondary text-xl'>
						Security
					</h1>
					<p
						class='font-secondary font-normal text-base text-otherGrey opacity-70'
					>
						Implements robust security measures, including
						encryption at rest and in transit, as well as
						comprehensive access controls and auditing.
					</p>
				</div>
			</div>
		</section>
	</Container>
	<div class='relative'>
		<div
			class='absolute top-0 flex h-[1px] w-full flex-row items-center justify-center opacity-100 shine'
		>
		</div>
		<Container>
			<div class='mt-16 mobile:mt-24'>
				<Footer />
			</div>
		</Container>
	</div>
</Layout>
