---
import NavBar from '../../components/NavBar';
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container';
import Footer from '../../components/Footer.astro';
import Button from '../../components/Button';
import { Image } from 'astro:assets';
import { navigate } from 'astro:transitions/client';
import DbGreen from 'src/images/db-green-transactional.png';
import StackedCardsOrder from 'src/images/stacked-cards-order.png';
import TemboTransactions from 'src/images/tembo-transactions.png';
import ElephantPgAnalyze from 'src/images/elephant-pganalyze.png';
import ElephantGraphql from 'src/images/elephant-graphql.png';
import ElephantPgStatements from 'src/images/elephant-pgstatements.png';
import ArrowRight from 'src/images/arrow-right-white.svg';
import ElephantStar from 'src/images/elephant-salmon-star.png';
import StackedCardsReservation from 'src/images/stacked-cards-reservation.png';
import TransactionSection from '@components/TransactionSection.astro';
import FeaturesSection from '@components/FeaturesSection.astro';
import Testimonials from '@components/Testimonials.astro';
const currentPath = Astro.url.pathname;
---

<Layout title='Tembo Transactional'>
	<NavBar client:load currentPage={currentPath} />
	<Container>
		<section
			class='tembo-for-startups-section flex flex-row w-full items-center justify-center mt-[120px] mobile:mt-[180px] justify-between'
		>
			<div class='flex flex-col w-1/2'>
				<div
					class='text-white font-bold tracking-[0.47px] text-[32px] sm:text-[40px] md:text-[56px] lg:text-[60px] leading-tight mb-6 w-1/2'
				>
					Tembo Transactional
				</div>
				<p
					class='text-lightGrey font-normal font-secondary text-sm mb-12 w-3/4 leading-6'
				>
					Tembo Transactional provides Online Transaction Processing
					(OLTP) capabilities to manage high volumes of transactions
					quickly and accurately. While your applications may vary in
					complexity and I/O intensity, our OLTP solution stands out
					due to its ACID compliance, ensuring reliable and accurate
					operations, and scalability to grow with application
					demands.
				</p>
				<div class='flex flex-row gap-4'>
					<Button
						variant='gradient'
						size='lg'
						isLinkTag={true}
						link='https://cloud.tembo.io/sign-up'
						client:load
					>
						<div class='flex flex-row'>
							Deploy Now
							<Image
								src={ArrowRight}
								width={24}
								height={24}
								alt='chevron arrow right'
							/>
						</div>
					</Button>
					<Button
						variant='primary'
						size='lg'
						isLinkTag={true}
						link='https://tembo.io/contact/'
						client:load
					>
						Contact Sales
					</Button>
				</div>
			</div>
			<Image
				src={DbGreen}
				width={590}
				height={600}
				alt='green database'
				class='w-1/2'
			/>
		</section>
		<TransactionSection
			useCaseText='Retail and E-commerce Transactions'
			scenarioText='Managing sales transactions for an online retail platform.'
			detailsText=`OLTP systems process customer orders, update inventory
					levels, handle payments, and manage customer data in
					real-time. This ensures that the e-commerce platform can
					handle a high volume of transactions simultaneously without
					delays, providing a seamless shopping experience for
					customers.`
			imgMetadata={StackedCardsOrder}
			rightAlignedImg={true}
		/>
		<TransactionSection
			useCaseText='Banking and Financial Services'
			scenarioText=`Processing banking transactions such as withdrawals,
					deposits, and transfers.`
			detailsText=`OLTP systems enable banks to manage millions of transactions
					per day securely and efficiently. They ensure real-time
					processing of account updates, balance checks, and fund
					transfers, providing customers with instant access to their
					financial information and services.`
			imgMetadata={TemboTransactions}
			leftAlignedImg={true}
		/>
		<TransactionSection
			useCaseText='Airline Reservation Systems'
			scenarioText='Managing flight bookings and reservations'
			detailsText=`OLTP systems handle the real-time processing of flight
					reservations, ticketing, and seat assignments. They allow
					airlines to manage availability, pricing, and customer data
					effectively, ensuring that customers can book flights,
					change reservations, and check in for flights in real-time.`
			imgMetadata={StackedCardsReservation}
			rightAlignedImg={true}
		/>
		<FeaturesSection />
		<Testimonials />
		<section
			class='tembo-for-startups-section flex flex-col w-full items-center justify-center mt-[120px] mobile:mt-[180px]'
		>
			<div
				class='flex items-center justify-center text-neon font-light tracking-[0.47px] sm:text-[12px] md:text-[16px] lg:text-[20px] mb-6'
			>
				More...
			</div>
			<div
				class='flex text-center text-white font-bold tracking-[0.47px] sm:text-[16px] md:text-[24px] lg:text-[32px] mb-6'
			>
				Extensions and Add-ons
			</div>
			<div class='flex justify-between align-center gap-5'>
				<div class='flex flex-col w-[230px]'>
					<Image
						src={ElephantPgAnalyze}
						width={230}
						height={203}
						alt='pink elephant with pg analyze logo'
						class='mb-4'
					/>
					<div class='flex flex-row justify-between'>
						<div
							class='flex text-center text-white font-bold tracking-[0.47px] sm:text-[12px] md:text-[16px] lg:text-[20px]'
						>
							PGAnalyze
						</div>
						<button>
							<Image
								src={ArrowRight}
								width={24}
								height={24}
								alt='chevron arrow right'
							/>
						</button>
					</div>
					<p
						class='text-lightGrey font-normal font-secondary text-sm mb-12'
					>
						PGAnalyze is a database monitoring solution that helps
						you achieve consistent database performance and
						availability through intelligent tuning advisors and
						continuous database profiling.
					</p>
				</div>
				<div class='flex flex-col w-[230px]'>
					<Image
						src={ElephantGraphql}
						width={230}
						height={203}
						alt='pink elephant with graphql logo'
						class='mb-4'
					/>
					<div class='flex flex-row justify-between'>
						<div
							class='flex text-center text-white font-bold tracking-[0.47px] sm:text-[12px] md:text-[16px] lg:text-[20px]'
						>
							GraphQL
						</div>
						<button>
							<Image
								src={ArrowRight}
								width={24}
								height={24}
								alt='chevron arrow right'
							/>
						</button>
					</div>
					<p
						class='text-lightGrey font-normal font-secondary text-sm mb-12'
					>
						GraphQL is a query language for APIs.
					</p>
				</div>
				<div class='flex flex-col w-[230px]'>
					<Image
						src={ElephantPgStatements}
						width={230}
						height={203}
						alt='pink elephant with pg stat statements logo'
						class='mb-4'
					/>
					<div class='flex flex-row justify-between'>
						<div
							class='flex text-center text-white font-bold tracking-[0.47px] sm:text-[12px] md:text-[16px] lg:text-[20px]'
						>
							pg_stat_statements
						</div>
						<button>
							<Image
								src={ArrowRight}
								width={24}
								height={24}
								alt='chevron arrow right'
							/>
						</button>
					</div>
					<p
						class='text-lightGrey font-normal font-secondary text-sm mb-12'
					>
						pg_stat_statements comes pre-installed and enabled.
					</p>
				</div>
			</div>
		</section>
		<section
			class='tembo-for-startups-section flex w-full mt-[120px] mobile:mt-[180px]'
		>
			<div
				class='flex justify-between bg-white/[0.05] w-full rounded-3xl py-9 px-14'
			>
				<div class='flex flex-row'>
					<Image
						src={ElephantStar}
						width={77}
						height={98}
						alt='celebratory salmon colored elephant'
						class='h-[98px] mr-6'
					/>
					<div class='flex flex-col'>
						<div
							class='text-white font-bold font-secondary tracking-[0.47px] text-[32px] sm:text-[32px] md:text-[36px] lg:text-[40px] leading-tight mb-6'
						>
							Join Tembo Today
						</div>
						<p
							class='text-lightGrey font-normal font-secondary text-sm'
						>
							Support for all Postgres workloads—including
							Transactional, Analytical, and AI
						</p>
					</div>
				</div>
				<div class='flex self-center'>
					<Button
						variant='primary'
						size='lg'
						isLinkTag={true}
						link='https://cloud.tembo.io/sign-up'
						client:load
					>
						Join Tembo
					</Button>
				</div>
			</div>
		</section>
	</Container>
	<div class='relative'>
		<div
			class='absolute top-0 flex h-[1px] w-full flex-row items-center justify-center opacity-100 shine'
		>
		</div>
		<Container>
			<div class='mt-16 mobile:mt-24'>
				<Footer />
			</div>
		</Container>
	</div>
</Layout>
