---
import NavBar from '../../components/NavBar';
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container';
import Footer from '../../components/Footer.astro';
import DbBlue from 'src/images/db-blue-transactional.svg';
import StackedCardsOrder from 'src/images/stacked-cards-order.png';
import TemboTransactions from 'src/images/tembo-transactions.png';
import StackedCardsReservation from 'src/images/stacked-cards-reservation.png';
import TransactionSection from '@components/solutions/TransactionSection.astro';
import FeaturesSection from '@components/solutions/FeaturesSection.astro';
import Testimonials from '@components/solutions/Testimonials.astro';
import JoinTemboCTA from '@components/JoinTemboCTA.astro';
import IntroSection from '@components/solutions/IntroSection.astro';
import WhyTembo from '@components/solutions/WhyTembo.astro';
const currentPath = Astro.url.pathname;
---

<Layout title='Tembo Transactional'>
	<NavBar client:load currentPage={currentPath} />
	<Container styles='relative'>
		<IntroSection
			title='Tembo Transactional'
			description=`Tembo Transactional provides Online Transaction Processing
					(OLTP) capabilities to manage high volumes of transactions
					quickly and accurately. While your applications may vary in
					complexity and I/O intensity, our OLTP solution stands out
					due to its ACID compliance, ensuring reliable and accurate
					operations, and scalability to grow with application
					demands.`
			deployButtonColor='sqlBlue'
			img={DbBlue}
			imgWidth={590}
			imgHeight={600}
			imgClassName='w-full lg:w-1/2'
		/>
		<TransactionSection
			useCaseText='Retail and E-commerce Transactions'
			scenarioText='Managing sales transactions for an online retail platform.'
			detailsText=`OLTP systems process customer orders, update inventory
					levels, handle payments, and manage customer data in
					real-time. This ensures that the e-commerce platform can
					handle a high volume of transactions simultaneously without
					delays, providing a seamless shopping experience for
					customers.`
			imgMetadata={StackedCardsOrder}
			rightAlignedImg={true}
		/>
		<TransactionSection
			useCaseText='Banking and Financial Services'
			scenarioText=`Processing banking transactions such as withdrawals,
					deposits, and transfers.`
			detailsText=`OLTP systems enable banks to manage millions of transactions
					per day securely and efficiently. They ensure real-time
					processing of account updates, balance checks, and fund
					transfers, providing customers with instant access to their
					financial information and services.`
			imgMetadata={TemboTransactions}
			leftAlignedImg={true}
		/>
		<TransactionSection
			useCaseText='Airline Reservation Systems'
			scenarioText='Managing flight bookings and reservations'
			detailsText=`OLTP systems handle the real-time processing of flight
					reservations, ticketing, and seat assignments. They allow
					airlines to manage availability, pricing, and customer data
					effectively, ensuring that customers can book flights,
					change reservations, and check in for flights in real-time.`
			imgMetadata={StackedCardsReservation}
			rightAlignedImg={true}
		/>
		<FeaturesSection />
		<Testimonials
			titleQuote='“Tembo makes Postgres easy for us.”'
			quote=`”We have loved our experience with Tembo because they offer pre-configured stacks that support our workload, it is extremely easy to manage postgres extensions, and batteries are included in pgBouncer. What we love most about Tembo is the absolutely amazing developer support we have received since coming on. The team really knows their stuff and are very customer focused.”`
			customerName='Sean Price'
			customerRole='CTO, Prospect Stream'
		/>
		<WhyTembo
			content={{
				extensions: `Over 200 extensions that are installable with a click of
						your ...`,
				support: `Support for all Postgres workloads—including
						Transactional, Analytical, and AI`,
				addons: `A variety of ecosystem and add ons are also available with a
						click`,
				postgres: `ACID compliance ensures reliable and accurate transaction processing. Easy scalability to support your growing application demands. Strong out-of-the-box OLTP performance and reliability.`,
				tembo: `Automated backups, maintenance and updates. High availability options that  ensure reliability and uptime. A wide selection of available Postgres extensions relevant to OLTP workloads`,
			}}
		/>
		<JoinTemboCTA />
	</Container>
	<div class='relative'>
		<div
			class='absolute top-0 flex h-[1px] w-full flex-row items-center justify-center opacity-100 shine'
		>
		</div>
		<Container>
			<div class='mt-16 mobile:mt-24'>
				<Footer />
			</div>
		</Container>
	</div>
</Layout>
