---
import NavBar from '../../components/NavBar';
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container';
import Footer from '../../components/Footer.astro';
import Button from '../../components/Button';
import { Image } from 'astro:assets';
import DbBlue from 'src/images/db-blue-transactional.svg';
import StackedCardsOrder from 'src/images/stacked-cards-order.png';
import TemboTransactions from 'src/images/tembo-transactions.png';
import ArrowRight from 'src/images/arrow-right-black.svg';
import StackedCardsReservation from 'src/images/stacked-cards-reservation.png';
import TransactionSection from '@components/solutions/TransactionSection.astro';
import FeaturesSection from '@components/solutions/FeaturesSection.astro';
import Testimonials from '@components/solutions/Testimonials.astro';
import AddOnSection from '@components/solutions/AddOnSection.astro';
import JoinTemboCTA from '@components/JoinTemboCTA.astro';
import IntroSection from '@components/solutions/IntroSection.astro';
import Accordion from '@components/Accordion';
const currentPath = Astro.url.pathname;
---

<Layout title='Tembo Transactional'>
	<NavBar client:load currentPage={currentPath} />
	<Container styles='relative'>
		<IntroSection
			title='Tembo Transactional'
			description=`Tembo Transactional provides Online Transaction Processing
					(OLTP) capabilities to manage high volumes of transactions
					quickly and accurately. While your applications may vary in
					complexity and I/O intensity, our OLTP solution stands out
					due to its ACID compliance, ensuring reliable and accurate
					operations, and scalability to grow with application
					demands.`
			deployButtonColor='sqlBlue'
			img={DbBlue}
			imgWidth={590}
			imgHeight={600}
			imgClassName='w-full lg:w-1/2'
		/>
		<TransactionSection
			useCaseText='Retail and E-commerce Transactions'
			scenarioText='Managing sales transactions for an online retail platform.'
			detailsText=`OLTP systems process customer orders, update inventory
					levels, handle payments, and manage customer data in
					real-time. This ensures that the e-commerce platform can
					handle a high volume of transactions simultaneously without
					delays, providing a seamless shopping experience for
					customers.`
			imgMetadata={StackedCardsOrder}
			rightAlignedImg={true}
		/>
		<TransactionSection
			useCaseText='Banking and Financial Services'
			scenarioText=`Processing banking transactions such as withdrawals,
					deposits, and transfers.`
			detailsText=`OLTP systems enable banks to manage millions of transactions
					per day securely and efficiently. They ensure real-time
					processing of account updates, balance checks, and fund
					transfers, providing customers with instant access to their
					financial information and services.`
			imgMetadata={TemboTransactions}
			leftAlignedImg={true}
		/>
		<TransactionSection
			useCaseText='Airline Reservation Systems'
			scenarioText='Managing flight bookings and reservations'
			detailsText=`OLTP systems handle the real-time processing of flight
					reservations, ticketing, and seat assignments. They allow
					airlines to manage availability, pricing, and customer data
					effectively, ensuring that customers can book flights,
					change reservations, and check in for flights in real-time.`
			imgMetadata={StackedCardsReservation}
			rightAlignedImg={true}
		/>
		<FeaturesSection />
		<Testimonials
			titleQuote='“Tembo makes Postgres easy for us.”'
			quote=` ”We don’t have to worry about spinning up or tuning it. We get stacks
        that just work out of the box, and we know they are going to be tuned
        without having to do a spike. We now use Tembo to manage a fleet of over
        20 production instances and a number of non-prod and development
        environments, and we’re excited to leverage Tembo for larger and larger
        workloads as our customers ask us for more specialized use cases. Tembo
        has become so fundamental to our platform that we don’t even think about
        alternatives anymore. When you’re not spending time thinking about your
        database, that’s how you know it’s a good solution.”`
			customerName='Cody Hanson'
			customerRole='Engineering Manager, Arch.dev'
		/>
		<AddOnSection />
		<section
			class='tembo-for-startups-section flex flex-col w-full items-center justify-center my-[80px] lg:my-[200px] px-3'
		>
			<div
				class='flex items-center justify-center text-neon font-light tracking-[0.47px] sm:text-[12px] md:text-[16px] lg:text-[20px] mb-6'
			>
				More...
			</div>
			<div
				class='flex text-center text-white font-bold tracking-[0.47px] text-[32px] mb-6'
			>
				Tembo vs Others
			</div>
			<div class='flex flex-col lg:flex-row justify-between gap-16 mt-16'>
				<div class='flex flex-col gap-4'>
					<div
						class='flex text-center text-white font-bold tracking-[0.47px] text-[20px]'
					>
						Extensions
					</div>
					<p
						class='text-lightGrey font-normal font-secondary text-sm'
					>
						Over 200 extensions that are installable with a click of
						your ...
					</p>
				</div>
				<div class='flex flex-col gap-4'>
					<div
						class='flex text-center text-white font-bold tracking-[0.47px] text-[20px]'
					>
						Support
					</div>
					<p
						class='text-lightGrey font-normal font-secondary text-sm'
					>
						Support for all Postgres workloads—including
						Transactional, Analytical, and AI
					</p>
				</div>
				<div class='flex flex-col gap-4'>
					<div
						class='flex text-center text-white font-bold tracking-[0.47px] text-[20px]'
					>
						Add Ons
					</div>
					<p
						class='text-lightGrey font-normal font-secondary text-sm'
					>
						A variety of ecosystem add ons are also available with a
						click
					</p>
				</div>
			</div>

			<div
				class='flex flex-col lg:flex-row justify-between my-[100px] mobile:mt-[80px] px-3'
			>
				<div
					class='flex flex-col justify-center align-center w-full lg:w-1/2'
				>
					<div
						class='flex text-left text-neon font-light tracking-[0.47px] sm:text-[12px] md:text-[16px] lg:text-[20px] mb-6'
					>
						More...
					</div>
					<div
						class='flex text-left text-white font-bold tracking-[0.47px] text-[32px] mb-6'
					>
						Ask Tembo
					</div>
				</div>
				<div class='w-full lg:w-1/2'>
					<Accordion
						client:load
						buttonIconHidePath='/arrow-down.svg'
						buttonIconShowPath='/arrow-up.svg'
						headerStyles='font-bold text-white text-xl'
						contentStyles='pt-6 text-lightGrey font-normal font-secondary text-sm'
						showSeparator={true}
						items={[
							{
								heading: 'Why on Postgres?',
								content: `ACID compliance ensures reliable and accurate transaction processing.
Easy scalability to support your growing application demands.
Strong out-of-the-box OLTP performance and reliability.
`,
							},
							{
								heading: 'Why on Tembo?',
								content: `Automated backups, maintenance and updates.
High availability options that  ensure reliability and uptime.
A wide selection of available Postgres extensions relevant to OLTP workloads.
`,
							},
						]}
					/>
				</div>
			</div>
		</section>
		<JoinTemboCTA />
	</Container>
	<div class='relative'>
		<div
			class='absolute top-0 flex h-[1px] w-full flex-row items-center justify-center opacity-100 shine'
		>
		</div>
		<Container>
			<div class='mt-16 mobile:mt-24'>
				<Footer />
			</div>
		</Container>
	</div>
</Layout>
